/* //--- vinhAppShowcase
--------------------------------------------------------------------------------*/

// module
.module {
	a {
		display: block;
	}

	&:nth-child(1){
		// display: none;

		@include media('>=lg'){
			:global(html[dir=rtl]) & {
				position: relative;
				left: -50px;
			}
		}
	}
}

// title
.title {
	//base style title
	color: $color-dark;
	h2 {
		font-family: $font-quarter;
		font-weight: $font-normal;
		position: relative;
		margin: 0;
		line-height: 1.7;
		font-size: 15px;
		text-align: center;
		@include media('>=lg'){
			font-size: 18px;
			text-align: left;

			:global(html[dir=rtl]) & {
				text-align: right;
			}
		}
	}

	i {
		font-size: 30px;
		float: left;
		display: none;
		@include media('>=lg'){
			display: initial;
			margin-right: 8px;

			:global(html[dir=rtl]) & {
				float: right;
				margin-left: 8px;
				margin-right: 0;
			}
		}
	}
}

// arrow
.arrow {
	display: none;
	@include media('>=lg'){
		display: block;

		:global(html[dir=rtl]) & {
			transform: rotatey(180deg);
		}
	}
}

// image
.image {
	@include media('>=lg'){
		max-width: 80%;
	}
}

.arrow,
.title {
	@include media('>=lg'){
		position: relative;
		left: -150px;


		:global(html[dir=rtl]) & {
			left: 120px;
		}
	}
}

.apple {
	.title h2 {
			margin-bottom: 18px;
		@include media('>=lg'){
			margin-bottom: 0;
		}
	}

	.arrow,
	.title {
		left: -50px;
	}


	@include media('>=lg'){
		position: relative;
		left: -30px;

		:global(html[dir=rtl]) & {
			left: 0 ;
		}
	}


}


:global {
	.showcase-container {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		
		@include media('>=md'){
			margin: 0 -20px;
		}
	}
}
