/* //--- testTest
--------------------------------------------------------------------------------*/

// module
.module {
	border: 1px solid red;
}

// image
.image {
	
}

// content
.content {
	border: 1px solid blue;
}

// title
.title {
	font-size: 12px;
}

// text
.text {
	color: pink
}
