/* //--- vinhBox4
--------------------------------------------------------------------------------*/

// module
.module {
	position: relative;
	display: block;
	border-radius: $general-radius;
	overflow: hidden;
	margin-bottom: 30px;


	@include media('>=md'){
		margin-bottom: 0;
	}
}

.module:hover {
	.title {
		color: $color-primary;
		transition: .3s all ease;
	}
}

// content
.content {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 20px;
}

// title
.title {
	margin: 0 0  5px;
	padding: 0;
	font-size: 20px;
	transition: .3s all ease;
	color: $color-light;

}

// desc
.desc {
	line-height: 1;
	font-size: 15px;
	color: $color-light;
	width: 50%;

	@include media('>=sm'){
		width: 50%;
	}
}

// thumbgroup
.thumbgroup {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40%;

	@include media('>=sm'){
		width: 60%;
	}
	
	@include media('<330px'){
		width: 50%;
		right: -3px;
		bottom: -3px;
	}


	span {
		float: right;
		border-radius: 5px;
		width: 54px;
		height: 54px;
		overflow: hidden;
		margin: 3px;


		@include media('>=sm'){
			// margin: 0 0 0 5px;
		}
	}

	span:first-child {

		text-align: center;
		background: $color-primary;
		i {
			line-height: 54px;
			font-size: 30px;
			color: $color-light;

		}
	}
}
