<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: href, title, desc, iconshare, thumb
+vinhBox4({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'small'</span></div></div>
//- Args: href, title, desc, iconshare, thumb
+vinhBox4({
	modifier: 'small'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'background'</span></div></div>
//- Args: href, title, desc, iconshare, thumb
+vinhBox4({
	modifier: 'background'
})
