<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title, desc, iconshare, thumb, thumbsrc
+vinhBox4({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'small'</span></div></div>
//- Args: title, desc, iconshare, thumb, thumbsrc
+vinhBox4({
	modifier: 'small'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'background'</span></div></div>
//- Args: title, desc, iconshare, thumb, thumbsrc
+vinhBox4({
	modifier: 'background'
})
