<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: id, icon, iconColor, iconClass, textClass, link, classText, text, bgColor, category, color
+vinhTextboxSmall({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'reverse'</span></div></div>
//- Args: id, icon, iconColor, iconClass, textClass, link, classText, text, bgColor, category, color
+vinhTextboxSmall({
	modifier: 'reverse'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'category'</span></div></div>
//- Args: id, icon, iconColor, iconClass, textClass, link, classText, text, bgColor, category, color
+vinhTextboxSmall({
	modifier: 'category'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'category--style02'</span></div></div>
//- Args: id, icon, iconColor, iconClass, textClass, link, classText, text, bgColor, category, color
+vinhTextboxSmall({
	modifier: 'category--style02'
})
