<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, iconClass, textClass, link, classText, text
+vinhTextboxSmall({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'reverse'</span></div></div>
//- Args: icon, iconClass, textClass, link, classText, text
+vinhTextboxSmall({
	modifier: 'reverse'
})
