/* //--- vinhTextboxSmall
--------------------------------------------------------------------------------*/

// module
.module {
	color: $color-light;
	a {
		color: inherit;
	}
	span {
		color: inherit;
	}
}

.module:hover,
.module:active, {
	a {
		text-decoration: none;
	}
}


// icon
.icon {
	
}

// text
.text {
	
}

//modifier reverse
.reverse {
	
}

