/* //--- vinhTextboxSmall
--------------------------------------------------------------------------------*/

// module
.module {
	line-height: 0;
	color: $color-light;
	a {
		color: inherit;
	}
	span {
		color: inherit;
	}
}

.module:hover,
.module:active, {
	a {
		text-decoration: none;
	}
}


// icon
.icon {
	
}

// text
.text {
	
}

//modifier reverse
.reverse {
	
}

//modifier category
.category {
	:global {
		.module-category {
			font-family: $font-primary;
			font-size: 12px;
			font-weight: $font-normal;
			color: $color-light;
			display: inline-block;
			border-radius: 5px;
			margin: 0;
			overflow: hidden;

			a {
				padding: 4px 11px;
				display: block;
				text-decoration: none;
				background: inherit;

				&:hover {
					color: $color-light
				}
			}
		}
	}
}

// modifier category style02
.category--style02 {
	@extend .category;
	font-family: $font-secondary;

	h4 {
		font-family: inherit !important;
		text-transform: uppercase;
		font-size: 10px !important;
		letter-spacing: 1px;
	}

	a:hover {
		color: $color-dark !important;
	} 
}


