/* //--- vinhTextboxSmall
--------------------------------------------------------------------------------*/

// module
.module {
	color: $color-light;
	a {
		color: inherit;
	}
	span {
		color: inherit;
	}
}

.module:hover,
.module:active, {
	a {
		text-decoration: none;
	}
}


// icon
.icon {
	
}

// text
.text {
	
}

//modifier reverse
.reverse {
	
}

//modifier category
.category {
	:global {
		.module-category {
			font-family: $font-primary;
			font-size: 12px;
			font-weight: $font-normal;
			color: $color-light;
			display: inline-block;
			border-radius: 5px;
			margin: 0;
			overflow: hidden;

			a {
				padding: 4px 11px;
				display: block;
				text-decoration: none;
				background: inherit;

				&:hover {
					color: $color-light
				}
			}
		}
	}
}

