if (file === "/wiloke-template/abcde/app/_pattern/long/atoms/heading/demo.pug")
	include /wiloke-template/abcde/app/_pattern/long/atoms/heading/demo.pug
if (file === "/wiloke-template/abcde/app/_pattern/long/molecules/textbox/demo.pug")
	include /wiloke-template/abcde/app/_pattern/long/molecules/textbox/demo.pug