if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/cat-title/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/cat-title/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/demo1/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/demo1/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/demo2/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/demo2/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/demo3/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/demo3/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/field/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/field/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/list-title-sm/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/list-title-sm/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/social/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/social/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/text-box-small-2/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/text-box-small-2/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/text-box-small/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/text-box-small/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/atoms/utility-box-1/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/atoms/utility-box-1/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/author-single/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/author-single/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/blog-comment/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/blog-comment/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/breadcrumb/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/breadcrumb/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/canvas-textbox/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/canvas-textbox/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/form-comment/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/form-comment/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/form-search/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/form-search/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/header-blog-single/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/header-blog-single/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/heading/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/heading/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/hero-text/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/hero-text/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/image-box/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/image-box/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/list-box-fixed/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/list-box-fixed/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/nav-vertical/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/nav-vertical/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/pagination/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/pagination/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/panel-title/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/panel-title/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/panel/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/panel/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/pop-post/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/pop-post/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/post/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/post/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/product/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/product/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/quote1/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/quote1/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/quote2/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/quote2/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/share/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/share/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/swiper/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/swiper/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/team/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/team/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box-2/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box-2/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box-gradient/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box-gradient/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/video-popup/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/video-popup/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-about/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-about/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-author/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-author/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-contact/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-contact/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-destinations/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-destinations/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-gallery/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-gallery/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-image/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-image/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-list/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-list/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-post/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-post/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-social/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-social/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-statictis/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-statictis/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-subsc/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-subsc/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-tag/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-tag/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/body-blog-single/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/body-blog-single/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/body-des-single/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/body-des-single/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/destinations-box/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/destinations-box/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/footer/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/footer/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/form-contact/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/form-contact/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/header/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/header/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/hero-des-single/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/hero-des-single/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/hero-form/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/hero-form/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/hero/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/hero/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/info-contact/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/info-contact/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/search-fixed/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/search-fixed/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/sidebar-1/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/sidebar-1/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/organisms/vector-map/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/organisms/vector-map/demo.pug
if (file === "/wiloke-template/travel_template/app/_pattern/vinh/templates/page-404/demo.pug")
	include /wiloke-template/travel_template/app/_pattern/vinh/templates/page-404/demo.pug
