<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: forSingle, title
+long_list-title-sm({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'small'</span></div></div>
//- Args: forSingle, title
+long_list-title-sm({
	modifier: 'small'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'large'</span></div></div>
//- Args: forSingle, title
+long_list-title-sm({
	modifier: 'large'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'light'</span></div></div>
//- Args: forSingle, title
+long_list-title-sm({
	modifier: 'light'
})
