/* //--- long_testtest
--------------------------------------------------------------------------------*/

// module
.module {
	border: 1px solid red;
}

// img
.img {
	width: 100px;
	border: 5px solid;
}

// title
.title {
	font-size: 18px;
	color: $color-primary;
}

// modifier test
.test {
	border-color: blue;
}

// text
.text {
	color: blue;
}

// text2
.text2 {
	color: red;
}
