<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, title
+vinhIcon02({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args: icon, title
+vinhIcon02({
	modifier: 'style02'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style03'</span></div></div>
//- Args: icon, title
+vinhIcon02({
	modifier: 'style03'
})
