/* //--- longHeading
--------------------------------------------------------------------------------*/

// module
.module {
	border: 1px solid red;
}

// title
.title {
	color: blue;
}

// text
.text {
	color: red;
}
