-
	// Align
	textAlign = {
		left: 'wil-text-left',
		right: 'wil-text-right',
		center: 'wil-text-center'
	}

	// Bootstrap
	bootstrapSettings = {
		sectionClassDefault: 'wil-section',
		containerClassDefault: 'container',
		rowClass: 'row',
		colArrangement: ['xs', 'sm', 'md', 'lg'],
		overlay: 'wil-overlay'
	}

	// Theme skin
	themes = {
		prefixSkin: 'wil-skin-'
	}
