:global {

	.text-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.swiper__fullwidth {
		overflow: visible !important;
		.swiper-slide {
			width: 304px !important;
		}


		.swiper-button-custom {
			display: none;
			visibility: hidden;

			@include media('>=sm'){
				display: initial;
			}
		}

		.swiper-button-custom > div {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			margin: 0;

			@include media('>=md') {
				width: 52px !important;
				height: 52px !important;
				line-height: 52px !important;

				&.swiper-button-prev-custom {
					left: -25% !important;
				}
				&.swiper-button-next-custom {
					right: -25% !important;
				}
				&.swiper-button-disabled {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}

	.grid-item {
		&.small {
			div[class*=imagebox__module]{

		

				div[class*=body]{
					padding: 12px 20px;
				}

				div[class*=desc]{
					font-size: 13px;
					margin: 0;
				}

				div[class*=imgThumbs]{
					display: none;
					visibility: hidden;
				}

				h4[class*=category]{
					font-size: 18px;
				}
			}






			// a.vinh_box4__module {
			// 	font-size: 13px;
			// 	h2 {
			// 		font-size: 18px;
			// 		margin: 0;
			// 	}

			// 	.vinh_box4__content {
			// 		margin: 14px 20px 14px 20px;
			// 	}

			// 	.vinh_box4__desc {
			// 		width: 100%;
			// 		font-size: 13px;
			// 	}

			// 	.vinh_box4__thumbgroup {
			// 		display: none;
			// 		visibility: hidden;
			// 	}
			// }
		}
	}

	.product-img {


		@include media('>=xs'){
			display: flex;
			align-items: flex-end;
		}


		@include clearfix;
		> div {
			float: left;
			position: relative;

			
		}

		img {
			width: 80%;
			height: auto;

		}

	}

	.padding-30 {
		padding: 30px 0;
	}

	.bg-gradient-1 {
		background: #98ff00;
		background: linear-gradient(to right, $color-primary 0, #98ff00 100%);
		:global(html[dir=rtl]) & {
			background: linear-gradient(to left, $color-primary 0, #98ff00 100%);
		}
	}



	.divider-gray--2 {
		border-top: 1px solid #e4e4e4;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(228, 228, 228);
	}


	@each $name,$value in $spaces {
		.mt-#{$name}{
			margin-top: $value;
		}
		
		.mb-#{$name}{
			margin-bottom: $value !important;
		}
		
		.ml-#{$name}{
			margin-left: $value;
		}
		
		.mr-#{$name}{
			margin-right: $value;
		}
		.pt-#{$name}{
			padding-top: $value;
		}
		
		.pb-#{$name}{
			padding-bottom: $value !important;
		}
		
		.pl-#{$name}{
			padding-left: $value;
		}
		
		.pr-#{$name}{
			padding-right: $value;
		}

		.px-#{$name}{
			padding: 0 $value
		}

		.py-#{$name}{
			padding: $value 0
		}

		.mx-#{$name}{
			margin: 0 $value
		}

		.my-#{$name}{
			margin: $value 0
		}
		
		
		.bd-radius--#{$name}{
			border-radius: $value;
		}
	}

	.p-0 {
		padding:0 !important;
	}

	.m-0 {
		margin: 0 !important;
	}

	@each $name,$value in $colors {
		.bgcolor-#{$name}{
			background: $value;
		};

		.color-#{$name}{
			color: $value;
		}
	}

	@each $name,$value in $social {
		a[class*=socialtext] {

			i[class*=#{$name}]{
				background: $value
			}
		}
	}

	.mt-160 {
		margin-top: 160px;
	}
	.md-meta {
		font-size: 12px;
		border-radius: 5px;

		i {
			margin:0 3px;
			color: $color-primary;
			font-size: 16px;
			vertical-align: text-bottom;
		}
	}


	a[class*=socialtext] {
		text-decoration: none;
		&:hover {
			i {
				color: $color-light
			}
		}

		i {
			border-radius: 17px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			padding: 10px 13px;
			&:before {
				// padding: 
				margin-right: 10px;
				line-height: 1;
			}
		}


		span {
			font-family: $font-secondary;
			font-size: 12px;
			font-weight: $font-semibold;
		}

		:global(html[dir=rtl]) & {
			i:before {
				float: right;
				margin-left: 10px;
				margin-right: 0;
			}
		}
	}

		
	span[class*=textboxsmall] {
		display: inline-block;
		line-height: 0;
	}

	div[class*=video-popup__module]{
		margin: 0 -10px;

		a[class*=video-popup__popup]{
			background: $color-light;
			@include size(62px);

			i {
				color: $color-primary !important;
				font-size: 30px;
				position: relative;
				line-height: 1;
				top: -2px;
			}
		}
	}

	div[class^=swiper]{

		.swiper-button-custom {
			
			> div {
				@include size(35px);

				@include media('>=sm'){
					@include size(52px);
				}
			}

			>div[class*=next]{
				right: 10px;
			}
			>div[class*=prev]{
				left: 10px;
			}
		}
	}

	div.wil-grid {
		.grid-item {
			margin-bottom: 30px;
		}

		@include media('>=sm') {
			.grid-item {
				margin-bottom: 0px;
			}
	
		}
	}


	
	.wil-text-left,
	.text-left {
		text-align: left !important;
	}

	.wil-text-center,
	.text-center {
		text-align: center !important;
	}

	.wil-text-right,
	.text-right {
		text-align: right !important;
	}


	div.wil-overlay {
		@include absFull(0);
		background: linear-gradient(0deg, #50545f 0%, rgba(81, 81, 81, 0) 100%);
		height: 30%;
		bottom: 0;
		transition: .3s ease all;
		top: unset;
		transform: scale(1.01);
		opacity: 0.7 ;

		// div:hover & {
		// 	opacity: 0.4 ;
		// }
	}

	.swiper-slide {
		transition: .1s ease opacity;

		&.covered {
			opacity: .2;
			transition: .1s ease opacity;
			// filter:blur(2px);

		}

		@include media('>=sm'){
			transition: .3s ease opacity;

			&.covered {
				opacity: 0.3;
				transition: .3s ease opacity;
				// filter: blur(2px);
			}
		}
	}

	// unordered list features

	ul.list_features {
		margin: 0;
		padding: 0;
		@include clearfix;

		li {
			list-style: none;
			font-size: 15px;
		}

		a {
			color: $color-gray-5;

			&:hover {
				text-decoration: none;
			}
		}
	}


	//wil-tag
	span.wil-tag {
		@include absolute(top 10px left 10px);
		line-height: 1;
		padding: 6px;
		font-family: $font-primary;
		font-size: 12px;
		color: rgba($color-light,0.8);
		border-radius: 5px;
		z-index: 10;

		&.wil-tag--style02 {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 400;
			background: none;
			position: initial;
			padding: 0;
		}

		html[dir=rtl] & {
			// display: none;
			@include absolute(top 10px right 10px left initial);
		}
	}
	
}




