/* Typography */

:global {
	body {
		margin: 0;
		padding: 0;
		line-height: 1.78;
		font-size: 15px;
		font-weight: 400;
		font-family: $font-primary;
		color: $color-gray-5;
		letter-spacing: 0.01em;
		@include media('<sm') {
			line-height: 1.7;
		}
	}

	p {
		color: $color-gray-8;
	}

	a {
		transition: all 0.3s ease;
	}
	a,
	input,
	textarea,
	select {
		outline: none;
	}
	
	$heading-fontsize: (
		'h1': 40px,
		'h2': 36px,
		'h3': 30px,
		'h4': 26px,
		'h5': 20px,
		'h6': 18px
	);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: $font-semibold;
		line-height: 1.4em;
		color: $color-dark;
		font-family: $font-secondary;
		letter-spacing: 0.02em;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@each $val, $key in $heading-fontsize {
		#{$val} {
			font-size: $key;
		}
	}
	h3,
	h1,
	h2,
	h3 {
		margin-top: 30px;
		margin-bottom: 15px;
	}
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	img {
		max-width: 100%;
	}

	abbr {
		color: #67dee8;
		border-width: 2px
	}

	mark,
	.mark {
		background-color: $color-primary;
		color: $color-light;
	}

}
