<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args:
+long_share({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'vertical'</span></div></div>
//- Args:
+long_share({
	modifier: 'vertical'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'center'</span></div></div>
//- Args:
+long_share({
	modifier: 'center'
})
