<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, country
+long_image-box({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style2'</span></div></div>
//- Args: img, country
+long_image-box({
	modifier: 'style2'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style3'</span></div></div>
//- Args: img, country
+long_image-box({
	modifier: 'style3'
})
