<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'grid'</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	modifier: 'grid'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'latest'</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	modifier: 'latest'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'list'</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	modifier: 'list'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'post02'</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	modifier: 'post02'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'post03'</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	modifier: 'post03'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'postImage'</span></div></div>
//- Args: img, country, bgTagColor, tag, postType, title, desc, iconShare
+long_post({
	modifier: 'postImage'
})
