<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, country, postType
+long_post({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'grid'</span></div></div>
//- Args: img, country, postType
+long_post({
	modifier: 'grid'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'latest'</span></div></div>
//- Args: img, country, postType
+long_post({
	modifier: 'latest'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'list'</span></div></div>
//- Args: img, country, postType
+long_post({
	modifier: 'list'
})
