/* //--- long_post
--------------------------------------------------------------------------------*/

// module
.module {
	background-color: $color-light;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: $general-radius;
	position: relative;

	a {
		&:hover,
		&:active {
			text-decoration: none;
			color: $color-primary;
		}
	}

	:global {
		.module-category {
			@include absolute(top 10px  left 10px);
			z-index: 10;
		}
	}


	&:global(.sm){
		a[class*=video-popup__popup]{ 

			// @include size(50px);

			// @include media("<=sm"){
				// i {
					// top : 1px;
				// }
			// }
		}
		
		div[class^=swiper__module]{

			div[class*=button-custom] {
				> div {
					@include size(35px);
				}

				i {
					font-size: 20px;
				}
			}
		}
	}


}





:global(.grid-item) {
	.module {
		margin-bottom: 0;
	}
}

// header
.header {
	position: relative;
	z-index: 0;
}

// body
.body,
.footer {
	padding: 14px 18px;
	position: relative;
	z-index: 1;
}

// text
.text {
	padding: 7px 0;
}

// footer
.footer {
	composes: clearfix from global;
}

// meta
.meta {
	float: left;

	:global {
		.icon {
			vertical-align: sub;
			font-size: 20px;
			margin: 0 6px 0 0 ;
		}

		.desc {
			font-size: 11px;
			text-transform: uppercase;
			color: $color-dark-2;
			vertical-align: middle;
			font-family: $font-tertiary;
			font-weight: 600;
		}
	}

	:global(html[dir=rtl]) & {
		float: right;
	}

}

// share
.share {
	font-size: 20px;
}

// metaItem
.metaItem {
	content: empty;
	&:after {
		content: '.';
		display: inline-block;
		padding: 0 8px;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
}

// share
.share {
	float: right;

	:global(html[dir=rtl]) & {
		float: left;
	}
}

// modifier grid
.grid {
	max-width: 500px;
	margin: auto;
	.share {
		.metaText {
			font-size: 0;
		}
	}
}

// modifier latest
.latest {
	@extend .grid;
}

// modifier list
.list {
	@include media('>sm') {
		.header {
			float: left;
			width: 40%;
			padding-right: 15px;
		}
		:global {
			.divider-gray--2 {
				clear: both;
			}
		}
	}
}

:global {
	@each $name,$value in $colors {
		.color-#{$name} {
		  color: $value !important;
		}
	} 
}

//modifier post02
.post02 {
	:global {
		span[class*=textboxsmall] {
			display: initial;
		}
	}
	.title {
		margin: 0 0 3px 0;
		color: $color-dark;
		font-size: 16px;
	}

	.desc {
		margin: 0;
		font-size: 14px;
	}

	.footer {
		@include clearfix;
		// margin: 0 -18px -14px -18px;
		line-height: 1;
		border-top: 1px solid $color-gray-9;
	}

	.share {
		float: right;
		a {
			color: $color-gray-6;
			// font-size: 18px;
			&:hover {
				color: $color-primary;
			}
		}

		i {
			vertical-align: middle
		}
	}

	.meta {
		margin: 0 -10px;
		:global {
			.md-meta {
				color: $color-gray-7;
				font-size: 12px;
				display: inline-block;
				line-height: 2;
				position: relative;

				&:hover {
					color: $color-primary !important;
				}

				i {
					font-size: 16px;
					vertical-align: text-bottom;
					margin: 0  4px ;
				}
			}

			span[class*=textbox]{
				padding: 0 10px;
				position: relative;

				&:first-child {
					// padding: 0 10px 0 0 ;
				}

				+ span[class*=textbox]{
					&:before {
						content: '\f111';
						font-family: 'fontawesome';
						font-size: 4px;
						@include absolute(top 50%  left 0);
						transform: translate(-50%);
						line-height: 0;
						color: $color-gray-9;

						:global(html[dir=rtl]) & {
							@include absolute(top 50%  right 0 left initial);
						}

					}
			}
			}
		}
	}
}
// title
.title {
	composes: text-ellipsis from global;
}

// modifier post03
.post03 {
	content: none;

	:global {
		.module-category {
			position: relative;
		}

		span.wil-tag {
			position: initial !important;
			padding: 5px 6px;
		}
	}
	// view
	.view {
		float: left;
	}

	.share {
		float: none ;
		
		:global(html[dir=rtl]) & {
			float: none;
		}
	}
	.title {
		font-size: 24px;
		margin: 15px 0 5px 0;
	}

	.desc {

		@include media('>=sm') {
			max-width: 560px;
			margin: 0 auto 30px auto;
		}
	}

	.body {
		text-align: center;
		background: $color-light;
		padding: 14px 20px 30px 20px;

		span[class*=textboxsmall]{
			display: inline-block;
			line-height: 0;
			> h4 {
				position: relative;
				display: inline-block;
				top: initial;
				left: initial;
			}
		}

		@include media('>=sm') {
			margin: -30px 30px 0 30px;
			padding: 30px 0 40px 0;

		}
	}

	// comment
	.comment {
		float: right;
	}

	.view,
	.comment {
		width: calc(100% /2 );
		padding: 15px 0;

		a {
			font-size: 12px;
			color: $color-gray-7;

			&:hover {
				color: $color-primary;
			}
		}

		i {
			margin: 0 4px ;
			font-size: 16px;
			vertical-align: text-bottom;
		}

		

		@include media('>=sm'){
			width: calc((100% - 48.05%) / 2);
			padding: 20px 0 ;
		}
	}

	.view {
		border-right: 1px solid $color-gray-9;

		@include media('>=sm') {
			border: none;
		}
	}

	.share {
		width: 100%;
		border-bottom: 1px solid $color-gray-9;
		border-top: 1px solid $color-gray-9;
		padding: 5px 0;		

		a {
			margin: 4px;
			text-decoration: none;
		}
		@include media('>=sm') {
			width: 48.05%;
			float: none;
			display: inline-block;
			border: none;
			padding: 12px 0;
			border-right: 1px solid $color-gray-9;
			border-left: 1px solid $color-gray-9;

		}
	}

	.footer {
		text-align: center;
		// padding: 14px 18px 0 18px;
		padding: 0;

		@include media('>=sm'){
			border-top: 1px solid $color-gray-9;
		}
	}

	:global {
		.wil-btn {
			background: none;
			color: $color-gray-7;
			text-transform: uppercase;
			font-size: 10px !important;
			font-weight: 400;
			border-bottom: 1px solid #e2e2e5;
			min-width: 106px !important;
			padding: 3px 0 !important;
			letter-spacing: 1px;
			text-decoration: none;
			&:hover {
				background: darken($color-light,10%);
				color: $color-dark;
			}
			&:active {
				background: darken($color-light,30%)
			}
		}
	}
}

// modifier post image
.postImage {
	box-shadow: 0px 12px 30px 0px rgba(27, 27, 29, 0.08);
	.img {
		content: none;
	}
	.title {
		color: $color-dark;
		font-size: 14px;
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		// margin: 0 0 3px 0;
		&:hover {
			color: $color-primary;
		}
	}

	.header {
		position: relative;
		overflow: hidden;
	}

	.social {
		@include absolute(top 50%);
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		z-index: 2;

		a {
			opacity: 0;
			visibility: hidden;
			transform: translate(0, 20px);
			transition: all 0.2s cubic-bezier(.4,.8,.58,1.29);
		}
		@include socialAnimation('a');
	}

	.footer {
		// padding: 0 18px 14px 18px;
		// margin: 0 -18px -14px -18px;
		padding: 0  14px 18px 14px ;
		margin:  0 -14px -18px -14px;
	}

	.body {
		padding: 18px 14px;
	}

	.meta {
		margin: 0 -10px;
	}

	.share {
		line-height: 1;
		
		a {
			color: #acb0bd;
			text-decoration: none;
			&:hover {
				color: $color-primary
			}
		}
	}

	:global {

		div[class*=imagecover] {
			filter: blur(0px);
			transform: scale(1);
			transition: all .3s ease;
		}

		.md-meta {
			color: $color-gray-7;
			padding: 0 10px;
		}

		span[class*=textboxsmall]{
			position: relative;
			+ span[class*=textboxsmall]:before {
				content: '-';
				@include absolute(top 50% left 0);
				transform: translate(-50%,-50%);
				font-size: 15px;
				line-height: 1;
				color: $color-gray-5;

				:global(html[dir=rtl]) & {
					@include absolute(top 50%  right 0 left initial);
				}
			}
		}

		span.wil-tag {
			z-index: 2;
		}

		.wil-overlay {
			opacity: 0;
			transition: all .3s ease;
			background-color: rgba($color-gray-8,0.5);
			height: 100%;
			z-index: 1;
		}
	}
}


.postImage[data-state=open]{
	.social {
		> a {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}

	.share  {
		a {
			color: $color-primary !important;
			&:hover,
			&:active {
				text-decoration: none;
			}
		}
	}

	:global  {
		div[class*=imagecover] {
			filter: blur(2px);
			transform: scale(1.1);
			transition: all .3s ease;
		}

		.wil-overlay {
			opacity: 0.5	;
			transition: all .3s ease;
		}
	}
}
// img
.img {
	
}

// social
.social {
	
}
