//- demo: true
mixin vinhSection08(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		//- code
		+section({
			container: true,
		})

			+vinhHeader({

			})

			+row({

			})

				+col({
					cols: [0,0,6,6],
					gap: 30,
				})
					+vinhIcon03({
						modifier: 'style03'
					})
				
					+vinhIcon03({
						modifier: 'style03'
					})

					+vinhIcon03({
						modifier: 'style03'
					})

				+col({
					cols: [0,0,6,6],
					gap: 30,
				})
					+vinhIcon03({
						modifier: 'style03'
					})
				
					+vinhIcon03({
						modifier: 'style03'
					})

					+vinhIcon03({
						modifier: 'style03'
					})
					
		
	include cssmodule
