<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title, text
+testTestcomponent({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'bgGray'</span></div></div>
//- Args: title, text
+testTestcomponent({
	modifier: 'bgGray'
})
