include /wiloke-template/travel/app/_pattern/vinh/atoms/button/button.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/canvas/canvas.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/field/field.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/form/form.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/herotext/herotext.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/imagecover.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/imgthumb/imgthumb.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/list/list.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/listitem/listitem.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/sectitle.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/social/social.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/swiper/swiper.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/textboxsmall-2.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/textboxsmall.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/widget/widget.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box/box.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box2/box2.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box3/box3.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box4/box4.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/nav-vertical/data.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/nav-vertical/nav-vertical.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/product/product.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/footer/footer.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/header/data.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/header/header.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/hero/hero.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/search-fixed/search-fixed.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/section01/section01.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/section02/section02.pug
include /wiloke-template/travel/app/_pattern/vinh/organisms/section03/section03.pug