include /wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/imagecover.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/sectitle.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/social/social.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/textboxsmall-2.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/textboxsmall.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box/box.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box2/box2.pug