include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/sectitle.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/social/social.pug
include /wiloke-template/travel/app/_pattern/vinh/atoms/textbox-small/textbox-small.pug
include /wiloke-template/travel/app/_pattern/vinh/molecules/box/box.pug