<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, title, text
+textBox({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'iconLeft'</span></div></div>
//- Args: icon, title, text
+textBox({
	modifier: 'iconLeft'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'iconRight'</span></div></div>
//- Args: icon, title, text
+textBox({
	modifier: 'iconRight'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'iconBorderSquare'</span></div></div>
//- Args: icon, title, text
+textBox({
	modifier: 'iconBorderSquare'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'iconBorderPill'</span></div></div>
//- Args: icon, title, text
+textBox({
	modifier: 'iconBorderPill'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'background'</span></div></div>
//- Args: icon, title, text
+textBox({
	modifier: 'background'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'borderEffect'</span></div></div>
//- Args: icon, title, text
+textBox({
	modifier: 'borderEffect'
})
