<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args:
+longBodyDesSingle({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style1'</span></div></div>
//- Args:
+longBodyDesSingle({
	modifier: 'style1'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style2'</span></div></div>
//- Args:
+longBodyDesSingle({
	modifier: 'style2'
})
