//- demo: true
mixin vinhSection03(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		//- code
		+section({
			container: true,
		})
		
			+vinhHeader({

			})

			+row({

			})

				+col({
					cols: [0,0,4,4],
					gap: 30
				})

					+vinhIcon({
						modifier: 'style02'
					})

				+col({
					cols: [0,0,4,4],
					gap: 30
				})

					+vinhIcon({
						modifier: 'style02'
					})

				+col({
					cols: [0,0,4,4],
					gap: 30
				})

					+vinhIcon({
						modifier: 'style02'
					})


		
	include cssmodule
