/* //--- vinhWidget
--------------------------------------------------------------------------------*/

// module
.module {
	
}

:global {
	.widget {
		.widget-title {
			font-size: 11px;
			text-transform: uppercase;
			margin: 0 0 25px;
		}

		li {
			font-size: 13px;
			text-transform: capitalize;
		}

		a {
			color: $color-gray-5;
			transition: .3s all ease;
			&:hover,
			&:active {
				text-decoration: none;
				color: $color-gray-8;
				transition: .3s all ease;

			}
		}
	}
}
