/* //--- vinhIcon
--------------------------------------------------------------------------------*/
/* //--- vinhIcon04
--------------------------------------------------------------------------------*/

// module
.module {
	text-align: center;
	padding: 50px 35px;
	box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.1);
}

// icon
.icon {
	margin-bottom: 25px;

	i {
		font-size: 48px;
	}
}

// text
.text {
	font-size: 14px;
	color: $color-gray-6;
	
}
