/* //--- longDemo1
--------------------------------------------------------------------------------*/

// module
.module {
	content: empty;
}

// title
.title {
	color: red;
}

// text
.text {
	color: blue;
}

// active
.active {
	border: 10px solid red;
}
