<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title
+vinhIcon05({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args: title
+vinhIcon05({
	modifier: 'style02'
})
