-
	widget= {
		about: [
			{
				imgsrc: `img/avatar/${ random(1, 20) }.jpg`,
				name: 'john due',
				desc: 'frontend developer',

			}
		],

		cat: [
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			}
		],

		tag: [
			{
				text: random(random.continental)
			},
			{
				text: random(random.continental)
			},
			{
				text: random(random.continental)
			},
			{
				text: random(random.continental)
			},
		]
	}