//- demo: true
mixin vinhSidebar(args)
	include cssmodule
	include data

	+module('aside', css.module, args)
		- let args = item
		
		//- code
		+vinhWidgetSearch({
			addClass: 'mb-30'
		})


		+vinhWidget({
			addClass: 'mb-30',
		})
			+vinhWidgetAbout({
				loop: {
					data: widget.about
				}
			})

		+vinhWidget({
			addClass: 'mb-30',
			title: 'subscribe'
		})

			+vinhWidgetSubsc({
			})

		+vinhWidget({
			addClass: 'mb-30',
			title: 'categories'
		})
			+vinhWidgetList({
				addClass: 'widget-sidebar',
				loop: {
					data: widget.cat,
					children: true,
				}
			})

		+vinhWidget({
			addClass: 'mb-30',
			title: 'tags'
		})

			+vinhWidgetTag({
				loop: {
					data: widget.tag,
					children: true,
				}
			})

		+vinhWidget({
			title: 'list post',
			addClass: 'mb-30',
		})

			+vinhWidgetPost({
				loop: {
					data: [{},{},{}],
					children: true,
				}
			})

		+vinhWidget({
			title: 'gallery',
			addClass: 'mb-30',
		})

			+vinhWidgetGallery({
				loop: {
					data: [{},{},{},{},{}],
					children: true,
				}
			})
	include cssmodule


