//- demo: true
mixin vinhSidebar(args)
	include cssmodule
	include data

	+module('aside', css.module, args)
		- let args = item
		
		//- code
		+vinhWidget({
			addClass: 'widget_search mb-30 p-0',
		})
			+vinhWidgetSearch({
			})


		+vinhWidget({
			addClass: 'widget_about mb-30',
		})
			+vinhWidgetAbout({
				loop: {
					data: widget.about
				}
			})

		+vinhWidget({
			addClass: 'widget_subsc mb-30',
			title: 'subscribe',
		})

			+vinhWidgetSubsc({
			})

		+vinhWidget({
			addClass: 'widget_list mb-30',
			title: 'categories'
		})
			+vinhWidgetList({
				loop: {
					data: widget.cat,
					children: true,
				}
			})

		+vinhWidget({
			addClass: 'widget_tag mb-30',
			title: 'tags',
		})

			+vinhWidgetTag({
				loop: {
					data: widget.tag,
					children: true,
				}
			})

		+vinhWidget({
			title: 'list post',
			addClass: 'widget_post mb-30',
		})

			+vinhWidgetPost({
				loop: {
					data: [{},{},{}],
					children: true,
				}
			})

		+vinhWidget({
			title: 'gallery',
			addClass: 'widget_gallery mb-30',
		})

			+vinhWidgetGallery({
				loop: {
					data: [{},{},{},{},{}],
					children: true,
				}
			})
	include cssmodule


