/* //--- longDestinationsBox
--------------------------------------------------------------------------------*/

// module
.module {
	position: relative;
	z-index: 99;
}

// bg
.bg {
	position: relative;
	padding: 30px;
	border-radius: 5px;
	background-color: $color-light;
	z-index: 99;
	&:after, &:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 20px;
		right: 20px;
		top: -15px;
		height: 100px;
		background-color: inherit;
		border-radius: inherit;
		opacity: 0.4;
	}
	&:before {
		left: 40px;
		right: 40px;
		top: -30px;
	}
}
