if (file === "/wiloke-core/_pattern/core/atoms/button/demo.pug")
	include /wiloke-core/_pattern/core/atoms/button/demo.pug
if (file === "/wiloke-core/_pattern/core/atoms/imageCover/demo.pug")
	include /wiloke-core/_pattern/core/atoms/imageCover/demo.pug
if (file === "/wiloke-core/_pattern/core/atoms/social/demo.pug")
	include /wiloke-core/_pattern/core/atoms/social/demo.pug
if (file === "/wiloke-core/_pattern/core/molecules/breadcrumb/demo.pug")
	include /wiloke-core/_pattern/core/molecules/breadcrumb/demo.pug
if (file === "/wiloke-core/_pattern/core/molecules/heading/demo.pug")
	include /wiloke-core/_pattern/core/molecules/heading/demo.pug
if (file === "/wiloke-core/_pattern/core/molecules/pricing-01/demo.pug")
	include /wiloke-core/_pattern/core/molecules/pricing-01/demo.pug
if (file === "/wiloke-core/_pattern/core/molecules/quote/demo.pug")
	include /wiloke-core/_pattern/core/molecules/quote/demo.pug
if (file === "/wiloke-core/_pattern/core/organisms/header/demo.pug")
	include /wiloke-core/_pattern/core/organisms/header/demo.pug