if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/button/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/button/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/canvas/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/canvas/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/field/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/field/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/form/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/form/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/herotext/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/herotext/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/imgthumb/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/imgthumb/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/list-title-sm/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/list-title-sm/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/list/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/list/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/listitem/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/listitem/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/swiper/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/swiper/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box2/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box2/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box4/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box4/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/cat-/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/cat-/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/cat-filter/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/cat-filter/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/counter/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/counter/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/footer-social/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/footer-social/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/image-box/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/image-box/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/imagebox/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/imagebox/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/nav-vertical/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/nav-vertical/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/panel-title/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/panel-title/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/panel/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/panel/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/post-comment/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/post-comment/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/post-component/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/post-component/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/post-detail/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/post-detail/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/post-filter/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/post-filter/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/post-related/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/post-related/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/post/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/post/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/product/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/product/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/quote1/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/quote1/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/share/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/share/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/testimonial-grid/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/testimonial-grid/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/testimonial-item/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/testimonial-item/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/text-box-gradient/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/text-box-gradient/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/video-popup/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/video-popup/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-about/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-about/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-chart/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-chart/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-gallery/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-gallery/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-list/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-list/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-post/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-post/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-search/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-search/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-subsc/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-subsc/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-tag/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/widget/widget-tag/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/body-des-single/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/body-des-single/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/footer/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/footer/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/header/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/header/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/hero-des-single/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/hero-des-single/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/hero/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/hero/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/search-fixed/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/search-fixed/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/section01/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/section01/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/section03/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/section03/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/sidebar/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/sidebar/demo.pug