if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/button/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/button/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/canvas/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/canvas/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/field/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/field/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/form/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/form/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/herotext/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/herotext/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/imgthumb/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/imgthumb/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/list/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/list/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/listitem/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/listitem/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/swiper/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/swiper/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box2/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box2/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box3/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box3/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box4/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box4/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/nav-vertical/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/nav-vertical/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/product/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/product/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/header/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/header/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/hero/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/hero/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/search-fixed/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/search-fixed/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/section01/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/section01/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/section02/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/section02/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/organisms/section03/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/organisms/section03/demo.pug