if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/imagecover/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall-2/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textboxsmall/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box2/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box2/demo.pug