if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/sectitle/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/social/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/atoms/textbox-small/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/atoms/textbox-small/demo.pug
if (file === "/wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug")
	include /wiloke-template/travel/app/_pattern/vinh/molecules/box/demo.pug