<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, link, imgsrc
+vinhImagecover({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'ratio-4by3'</span></div></div>
//- Args: img, link, imgsrc
+vinhImagecover({
	modifier: 'ratio-4by3'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'ratio-16by9'</span></div></div>
//- Args: img, link, imgsrc
+vinhImagecover({
	modifier: 'ratio-16by9'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'static'</span></div></div>
//- Args: img, link, imgsrc
+vinhImagecover({
	modifier: 'static'
})
