/* //--- vinhImagecover
--------------------------------------------------------------------------------*/

// module
.module {
	
}

// img
.img {
	padding-top: 100%;//squared
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	img {
		display: none;
		visibility: hidden;
	}

}
