if (file === "/wiloke-template/new_template/app/_pattern/test/atoms/button/demo.pug")
	include /wiloke-template/new_template/app/_pattern/test/atoms/button/demo.pug
if (file === "/wiloke-template/new_template/app/_pattern/test/atoms/imageCover/demo.pug")
	include /wiloke-template/new_template/app/_pattern/test/atoms/imageCover/demo.pug
if (file === "/wiloke-template/new_template/app/_pattern/test/molecules/abcde/demo.pug")
	include /wiloke-template/new_template/app/_pattern/test/molecules/abcde/demo.pug
if (file === "/wiloke-template/new_template/app/_pattern/test/molecules/swiper/demo.pug")
	include /wiloke-template/new_template/app/_pattern/test/molecules/swiper/demo.pug
if (file === "/wiloke-template/new_template/app/_pattern/test/molecules/testComponent/demo.pug")
	include /wiloke-template/new_template/app/_pattern/test/molecules/testComponent/demo.pug
if (file === "/wiloke-template/new_template/app/_pattern/test/molecules/textbox/demo.pug")
	include /wiloke-template/new_template/app/_pattern/test/molecules/textbox/demo.pug