/* //--- vinhWidgetAbout
--------------------------------------------------------------------------------*/

// module
.module {
	
}

:global {
	.widget-about {
		text-align: center;

		a.widget-about__header {
			text-decoration: none;
			display: block;
			&:focus {
				text-decoration: none;
			}
	
			&:hover {
				.widget-about__name {
					color: $color-primary;
					transition: .3s ease all;
				}
			}
		}
		.widget-about__desc {
			padding: 0 0 5px 0 ;
			margin: 0 0 10px 0 ;
		}

		.widget-about__name {
			margin : 5px 0 3px 0;
			font-family: $font-quarter;
			font-weight: $font-normal;
			font-size: 18px;
			transition: .3s ease all;

		}

		.widget-about__desc {
			color: $color-gray-5;
			font-size: 12px;
		}

		.widget-about__avatar {
			@include size(120px);
			margin: 0 auto;
			background-size: cover;
			background-position: 50% 50%;
			border-radius: 100%;
			overflow: hidden;
			img {
				display: none;
				visibility: hidden;
			}
		}

		.widget-about__content {
			color: $color-gray-5;
			font-size: 15px;
			margin: 0 0 25px 0;
		}

	}
}