/* //--- vinhBox2
--------------------------------------------------------------------------------*/

// module
.module {
	border-radius: $general-radius;
	overflow: hidden;
	position: relative;

	:global {
		.module-category {
			font-size: 12px !important;
			text-transform: uppercase;
			line-height: 1;
			overflow: visible;
			border-radius: 0;
			// position: relative;
			// top:3px;
			&:hover {
				color: $color-primary;

				a {
					color: inherit !important;

				}
			}

			a {
				padding: 0;
			}
		}

		.wil-overlay {
			z-index: 0;
		}

		div[class*=imagecover]{
			padding-top: 134%;
		}
	}
}

.module:hover {
	:global {
		.wil-overlay {
			height: 100%;
			transition: .3s ease all;
		}
	}

	.icon {
		transform: translateX(0);
		transition: .3s ease all;
		opacity: 1;
	}

	.meta {
		transition: .3s ease all;
		transform: translateY(0);
		opacity: 1;
	}
}

// meta
.meta {
	margin: -3px;
	transform: translateY(-100%);
	transition: .3s ease all;
	opacity: 0;
	> span {
		line-height: 1;
	}
	@include absolute(top 10px right 10px);

	:global {
		.md-meta {
			font-size: 12px;
			line-height: 1;
			display: block;
			padding: 4px 7px;
			background: rgba(27, 27, 29, 0.3);
			margin: 3px;
			border-radius: 5px;

			i {
				vertical-align: text-bottom;
				margin: 0 4px 0 0;
			}
		}	
	}
}

// content
.content {
	@include absolute(left 0 right 0 bottom 0);
	margin: 16px;
}

// header
.header {
	
}

// title
.title {
	color: $color-light;
	font-size: 14px;
	margin: 0;

	&:hover {
		color: $color-primary;
	}
}

// icon
.icon {
	@include absolute(right -10px bottom 0);
	line-height: 0;
	font-size: 30px;
	color: $color-light;
	transform: translateX(100%);
	transition: .3s ease all;
	opacity: 0;

	a {
		text-decoration: none;
		color: inherit;
	}
}

// media
.media {
	
}
