include /wiloke-template/vinh/app/_pattern/vinh/atoms/button/button.pug
include /wiloke-template/vinh/app/_pattern/vinh/atoms/header/header.pug
include /wiloke-template/vinh/app/_pattern/vinh/atoms/imageCover/imageCover.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/abc/abc.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-02/icon-02.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-03/icon-03.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-04/icon-04.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-05/icon-05.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-06/icon-06.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon/data.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon/icon.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/responsiveMenu/responsiveMenu.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/sideMenu/data.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/sideMenu/sideMenu.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/social/social.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/swiper/swiper.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/test/test.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/textbox/textbox.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/toplink/data.pug
include /wiloke-template/vinh/app/_pattern/vinh/molecules/toplink/toplink.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/header-top/header-top.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/menu/data.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/menu/menu.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section01/data.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section01/section01.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section02/section02.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section03/section-03.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section04/section04.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section05/section05.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section06/section06.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section07/section07.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section08/section08.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section09/section09.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section10/section10.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section11/section11.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section12/section12.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section13/section13.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section14/section14.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/section15/section15.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/social/data.pug
include /wiloke-template/vinh/app/_pattern/vinh/organisms/social/social.pug