<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, title
+vinhIcon({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style02'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style03'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style03'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style04'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style04'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style05'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style05'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style06'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style06'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style07'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style07'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style08'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style08'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style09'</span></div></div>
//- Args: icon, title
+vinhIcon({
	modifier: 'style09'
})
