/* //--- long_testnew
--------------------------------------------------------------------------------*/

// module
.module {
	border: 1px solid red;
	padding: 20px;
}

// title
.title {
	color: red;
}
