-
	data = [
		title =[
			{
				title: 'lorem dolor sit amet',
			}
		],

		icon01 = [
			{
				title: 'lorem01',
				icon : 'fa fa-facebook',
				text: 'Reprehenderit deserunt ex cupidatat laboris sint pariatur qui culpa sunt excepteur.'
			}
		],

		icon02 = [
			{
				title: 'lorem02',
			}
		],

		icon03 = [
			{
				title: 'lorem03',
			}
		],
	]
