include /wiloke-core/_pattern/core_global/atoms/button/button.pug
include /wiloke-core/_pattern/core_global/atoms/social/data.pug
include /wiloke-core/_pattern/core_global/atoms/social/social.pug
include /wiloke-core/_pattern/core_global/molecules/aaaaaa/aaaaaa.pug
include /wiloke-core/_pattern/core_global/molecules/breadcrumb/breadcrumb.pug
include /wiloke-core/_pattern/core_global/molecules/heading/heading.pug
include /wiloke-core/_pattern/core_global/molecules/pricing-01/pricing-01.pug
include /wiloke-core/_pattern/core_global/molecules/quote/quote.pug
include /wiloke-core/_pattern/core_global/organisms/header/data.pug
include /wiloke-core/_pattern/core_global/organisms/header/header.pug