include /wiloke-template/test_template/app/_pattern/long/atoms/imageCover/imageCover.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/list/list.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/testnew/testnew.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/testnew2/testnew2.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/testtest/testtest.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/testteste/testteste.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/textbox/data.pug
include /wiloke-template/test_template/app/_pattern/long/molecules/textbox/textbox.pug