<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: location, desc, title
+vinhTextboxsmall2({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'type01'</span></div></div>
//- Args: location, desc, title
+vinhTextboxsmall2({
	modifier: 'type01'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'type02'</span></div></div>
//- Args: location, desc, title
+vinhTextboxsmall2({
	modifier: 'type02'
})
