extends pug/layout

//- Config
block config
	-
		config.title = 'about'
		config.bodyClass = ''

//- afterLink
block afterLink
	
//- Header
block header
	//- 
	+longHeader({

	})
//- Footer
block footer
	
//- Content
block content

	+section({
		container: true,
		css: {
			'padding': '155px 0 60px 0',
			'color': '#595d67',
		}
	})
		+row
			+col({
				cols: [12]
			})

			div.wp-block-image
				figure.alignleft
					img(src="img/customer/about.jpg", alt="")

			h3 Hello I’m Wiloke
			p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac odio a odio convallis euismod. Sed sed vehicula leo. Nulla a mi gravida, convallis urna vitae, blandit elit. Integer ornare, ex id vehicula porttitor, ipsum tortor placerat felis, non mollis ante dui a elit. Praesent volutpat sagittis dolor sed pharetra. Fusce eleifend leo ex, eget ultrices dui convallis at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus volutpat, metus eget tincidunt sagittis, dolor lorem luctus sapien, a hendrerit neque diam eget nibh.Ut diam massa, ultrices quis pharetra aliquam, porta et dolor. Nunc vitae felis vel lorem tristique fringilla. Cras aliquet ex tellus, quis dignissim mauris venenatis in. Sed rhoncus posuere tellus id iaculis. Nullam sollicitudin posuere cursus. Pellentesque blandit euismod elit sit amet tempor. Donec id libero facilisis, dictum diam cursus, pellentesque nibh. Praesent id dolor eu quam viverra aliquet sodales venenatis velit. Nam in purus sollicitudin, aliquet purus ac, pulvinar arcu. Donec tristique nulla scelerisque auctor tempus. Curabitur convallis ullamcorper massa quis porta. Donec volutpat sed magna sollicitudin condimentum. Proin congue volutpat enim ut eleifend. Vivamus id placerat odio.

			p Integer at lacus porta, bibendum libero malesuada, tempus arcu. Duis porttitor tortor sed ex pellentesque, vel accumsan arcu sodales. Nam posuere nunc nunc, non pharetra ante iaculis non. Suspendisse quam magna, porttitor vel tincidunt eu, mattis et sem. Morbi vel libero malesuada, molestie sapien a, suscipit est. Nullam dictum lobortis mi eu rhoncus. Fusce ipsum ex, dictum sit amet enim eget, imperdiet malesuada turpis. Fusce ac blandit justo, eu mollis ex.
			
	+section({
		css: {
			'background-color': '#f6f6f6'
		},
		addClass: 'pt-60 pb-30',
	})
		+vinhSectitle({
			align: 'center',
			modifier: 'style02',
			title: 'Testimonials',
			desc: 'Vestibulum sed metus iaculis, commodo justo in'
		})

		+vinhSwiper({
			options: {

			},
			nextText: '<i class="la la-angle-right"></i>',
			prevText: '<i class="la la-angle-left"></i>',
			addClass: 'swiper--button-pill swiper--button-abs pt-20 pb-30'
		})
			+vinhTestimonialItem({
				loop: {
					data: [{},{},{}]
				}
			})
	
	
	
	+section({
		container: true,
		addClass: 'py-60',
	})
		+vinhSectitle({
			align: 'center',
			modifier: 'style02',
			addClass: 'mb-30',
			title: 'Clients',
			desc: 'Vestibulum sed metus iaculis, commodo justo in'
		})

		+row
			+col({
				cols: [12]
			})
				+vinhTestimonialGrid({
					loop: {
						data: [{},{},{},{},{},{},{},{}],
						children: true,
					}
				})
	+vinhFooter({
		
	})