extends pug/layout

//- Config
block config
	-
		config.title = 'blog standard'
		config.bodyClass = ''

//- afterLink
block afterLink
	
//- Header
block header
	+longHeader({

	})
//- Footer
block footer
	
//- Content
block content


	+long_hero({
		img: `img/bg/4.jpg`,
		overlay: true,
		align: 'center',
		modifier: 'style02',
	})
		+vinhHerotext({
			title: 'Blog',
			desc : 'Let me help you plan your trip of a lifetime!',
			modifier: 'style03',
		})

	+section({
		container: true,
		css: {
			'background':'#f6f6f6'
		},
		addClass: 'py-50',
	})

		+row
			+col({
				cols: [0,0,12,12]
			})
				+vinhForm({
					modifier: 'search-wide',
					addClass: 'mb-30'
				})


		+row
			+col({
				cols: [0,0,8,8]
			})
				+long_post({
					loop: {
						data: [
							{	
								postType: 'video',
								modifier: 'post03',
							},
							{	
								postType: 'quote',
								modifier: 'post03',
							},
							{
								postType: 'slider',
								modifier: 'post03'
							},
						]
					}
				})
			+col({
				cols: [0,0,4,4]
			})
				+vinhSidebar({

				})

		+long_pagination({
			modifier: 'style02',
			addClass: 'pt-20',
		})
	+vinhFooter({

	})