extends pug/layout

//- Config
block config
	-
		config.title = 'Blog'
		config.bodyClass = ''

//- afterLink
block afterLink
	
//- Header
block header
	
//- Footer
block footer
	
//- Content
block content
	+section({
		container: true,
		css: {
			'background':'#f6f6f6'
		}
	})
		+row
			+col({
				cols: [0,0,12,12]
			})
				+vinhForm({
					modifier: 'search-wide',
					addClass: 'mb-30'
				})

		+row
			+col({
				cols: [0,0,8,8]
			})

				+row
					+long_post({
						loop: {
							data: [
								{
									modifier: 'post02',
									addClass: 'mb-30',
									postType: 'video',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
									postType: 'slider',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
							],
							wrap: 'col-lg-6'
						}
					})

			+col({
				cols: [0,0,4,4]
			})


				+vinhSidebar({

				})

	+section({
		container: true,
	})
		+row
			+col({
				cols: [12]
			})
				//-
					+vinhImagebox({
						modifier: 'style03',
						category: random(random.continental),
						meta: {
							loop: {
								data: [
										{
											icon: 'la la-eye',
											text: '120 view',
											modifier: 'meta',
										},
										{
											icon: 'la la-comment-o',
											text: '03 comment',
											modifier: 'meta',
										}
								]
							}
						},
						share: { 
							icon: null
						},
						desc: null
					})

				+vinhImagebox({
					modifier: 'style03',
					meta : {
							data: [
									{
										icon: 'la la-eye',
										text: '120 view',
										modifier: 'meta',
									},
									{
										icon: 'la la-comment-o',
										text: '03 comment',
										modifier: 'meta',
									}
							]
					}
				})
				//-modifier style02
				+vinhImagebox({
					modifier: 'style02',
					category: random(random.continental),
					desc: `${random(1,80)} Destinations`,
					imgThumbsData: {
						data: [{},{},{},{},{}],
					}
				})

				//- modifier style04
				+vinhImagebox({
					modifier: 'style04',
					category: random(random.continental),
					categoryColor: random(random.textcolor),
					title: random(random.title),
					desc: `${random(1,80)} Destinations`
				})
				//- modifier style05
				+vinhImagebox({
					modifier: 'style05',
					category: random(random.continental),
					categoryColor: random(random.textcolor),
					title: random(random.title),
					desc: null,
				})

