extends pug/layout

//- Config
block config
	-
		config.title = 'Blog'
		config.bodyClass = ''

//- afterLink
block afterLink
	+vinhPlaceHolderLoad({
		modifier: 'blog'
	})
//- Header
block header

	+longHeader({
		modifier: '',
		addClass: ''
	})
//- Footer
block footer
	//- Content
	+vinhFooter({

	})

block content

	+long_hero({
		img: `img/bg/4.jpg`,
		overlay: true,
		align: 'center',
		modifier: 'style02',
	})
		+vinhHerotext({
			title: 'Blog',
			desc : 'Let me help you plan your trip of a lifetime!',
			modifier: 'style03',
		})


	+section({
		container: true,
		css: {
			'background':'#f6f6f6',
		},
		addClass: 'pt-50 pb-65'
	})
		+row
			+col({
				cols: [0,0,12,12]
			})
				+vinhForm({
					modifier: 'search-wide',
					addClass: 'mb-30'
				})
				//- 
					+vinhTestimonialGrid({
						loop: {
							data: [{},{},{},{},{},{},{},{}],
							children: true,
						}
					})

		+row
			+col({
				cols: [0,0,8,8]
			})

				+row
					+long_post({
						loop: {
							data: [
								{
									modifier: 'post02',
									addClass: 'mb-30',
									postType: 'video',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
									postType: 'slider',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
								{
									modifier: 'post02',
									addClass: 'mb-30',
								},
							],
							wrap: 'col-lg-6'
						}
					})

			+col({
				cols: [0,0,4,4]
			})


				+vinhSidebar({

				})


		+long_pagination({
			modifier: 'style02',
			addClass: 'pt-20',
		})



