extends pug/layout

//- Config
block config
	-
		config.title = 'home'
		config.bodyClass = ''
		let args = item

//- afterLink
block afterLink
	
//- Header
block header
	+longHeader({
		modifier: '',
		addClass: '',
		searchComponent: false,
	})
//- Footer1
block footer
	
//- Content
block content
	//- Args: img, video, overlay
	+long_hero({
		img: `img/bg/4.jpg`,
		overlay: true,
		align: 'center',
	})
		+vinhHerotext({
			title: 'Hi! I am Gregory Lewis',
			desc : 'Each month over 1,000,000 people use my advice to travel better, cheaper, and smarter. Let me help you plan your trip of a lifetime!',
			modifier: 'style02',
		})

		+vinhForm({
			modifier: 'subscribe',
			name: 'name',
			email: 'email',
			css: {
				'max-width': '776px',
			}
		})

	+section({
		container: true,
		css: {
		},
		addClass: 'py-60',	

	})
		+vinhSectitle({
			title: 'lasted from the blog',
		})

		+vinhSwiper({
			options: {
				slidesPerView: 'auto',
				centeredSlides: false,
				spaceBetween: 30,
				loop: false,
				breakpoints: {
					380: {
						centeredSlides: true,
						spaceBetween: 15,
					}
				},

			},
			nextText: '<i class="la la-angle-right"></i>',
			prevText: '<i class="la la-angle-left"></i>',
			addClass: 'swiper__fullwidth swiper--button-pill swiper--button-abs'
		})
			+long_post({
				addClass: 'mb-0',
				loop: {
					data:[
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						},
						{
							modifier: 'postImage'
						}
						],
				},
			})


	+section({
		container: true,
		css: {
			'padding': '0 0 65px 0', 
		}
	})


		+vinhSectitle({
			title: 'destination guide',
			desc: '+1238 most beautiful tourist destinations in the world',
			css: {
				'margin-bottom' : '20px',
			}
		})

		+wil-grid({
			addClass: 'grid-custom',
			options: {
				style: 'creative',
				devices: {
					320: {
						vertical: 30,
						horizontal: 30,
						column: 1,
						gap: 30,
						items: [
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
						]
					},

					576: {
						vertical: 30,
						horizontal: 30,
						column: 2,
						items: [
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
						]
					},
					768: {
						vertical: 30,
						horizontal: 30,
						column:4,
						items: [
							{width: 2, height: 2},
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
							{width: 1, height: 1},
						]
					}
				}
			}
		})

			+vinhImagebox({
				loop: {
					data: [
						{
							modifier: 'style02',
						},
						{
							modifier: 'style02',
						},
						{
							modifier: 'style02',
						},
						{
							modifier: 'style02',
						},
						{
							modifier: 'style02',
						}],
					wrap: 'grid-item',
					
				}
			})


	+section({
		container: true,
		css: {
			'background-color': '#efeff1',
		}
	})
		+vinhSectitle({
			title: 'Start Planning Your Trip',
			desc: '+1238 most beautiful tourist destinations in the world',
			addClass: 'mb-30 text-center',
			modifier: 'style02',
			})

		+row
			+vinhcounter({
				loop: {
					data: [
						{
							counter: '01'
						},
						{
							counter: '02'
						},
						{
							counter: '03'
						},
						{
							counter: '04'
						},
					],
					wrap: 'col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-30',
					
				}
			})

	+section({
		container: true,
		css : {
			'padding': '60px 0 30px 0 ',
		}
	})
		+vinhSectitle({
			title: 'upcoming blog',
			desc: '+1238 most beautiful tourist destinations in the world',
			css: {
				'margin-bottom': '20px',
			}
		})

		+vinhSwiper({
			options: {
				slidesPerView: 'auto',
				centeredSlides: false,
				spaceBetween: 30,
				loop: false,
				breakpoints: {
					380: {
						centeredSlides: true,
						spaceBetween: 15,
					}
				}
			},
			nextText: '<i class="la la-angle-right"></i>',
			prevText: '<i class="la la-angle-left"></i>',
			addClass: 'swiper__fullwidth swiper__fullwidth swiper--button-pill swiper--button-abs',
		})
			+vinhImagebox({
				loop: {
					data:[
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						},
						{
							modifier:'style03'
						}]
				},
			})

	+section({
		container: true,
		css: {
			'padding': '30px 0 30px 0 ',
			'text-align': 'center'

		}
	})
		+vinhSectitle({
			title: 'get our travel guides',
			desc: 'We have over a dozen guides to destinations around the world! Get one of you trip today',
			css: {
				'margin-bottom': '25px',
				'text-align': 'left'
			}
		})

		+row({
			attr: {
				'data-col-xs-gap': 10,
				'data-col-md-gap': 30,
			}
		})
			+longProduct({
				modifier: 'sale',
				loop: {
					data: [{
						itemLabel: 'sale',
					},{},{},{},],
					wrap: {
						addClass: 'col-xs-6 col-md-4 col-lg-3'
					}
				},
			})

			+wil-btn('a', {
				align: 'center',
				text: 'view all products',
				modifier: ['primary', 'lg', 'round'],
			})
	
	+section({
		container: true,
		css : {
			'padding': '30px 0 30px 0 ',
		}
	})

		+vinhCanvas

		+row({
		})
			+col({
				cols: [0,6,5,5],
				offsets: [0,0,1,1],
			})
				+vinhSectitle({
					modifier: 'style03',
					title: 'download application',
					desc: 'It is a long established fact that a reader will be distracted readable content of a page when looking at its layout',
					addClass: 'mb-30',
				})

				+vinhList({
				})
					+vinhListitem({
						modifier: 'style02',

						loop: {
							data: [
								{
									icon: 'la la-check',
									text: random(random.text,40),
								},
								{
									icon: 'la la-check',
									text: random(random.text,40),
								},
								{
									icon: 'la la-check',
									text: random(random.text,40),
								},
								{
									icon: 'la la-check',
									text: random(random.text,40),
								},
								{
									icon: 'la la-check',
									text: random(random.text,40),
								},
							]
						}
					})

			+col({
				cols: [0,6,6,6],
			})
				div.product-img
					div
						img(src="img/products/1.png", alt="iphone")
					div
						img(src="img/products/2.png", alt="iphone")
						

		