extends pug/layout

//- Config
block config
	-
		config.title = 'home'
		config.bodyClass = ''

//- afterLink
block afterLink
	
//- Header
block header
	
//- Footer
block footer
	
//- Content
block content
	+vinhSection01({
	
	})
