extends pug/layout

//- Config
block config
	-
		config.title = 'page'
		config.bodyClass = ''

//- afterLink
block afterLink
	
//- Header
block header
	+vinhLazyLoad({

	})
	
	+longHeader({
		modifier: ['full'],
	})
//- Footer
block footer
	
//- Content
block content

	+section({
		container: true,
		css: {
			'background':'#f6f6f6'
		}
	})
		+row
			+col({
				cols: [0,0,8,8]
			})

			+col({
				cols: [0,0,4,4]
			})
				+vinhSidebar({

				})

