extends pug/layout

//- Config
block config
	-
		config.title = 'test'
		config.bodyClass = ''

//- afterLink
block afterLink
	//- +vinhPlaceHolderLoad({
	//- 	modifier: 'blog'
	//- })
//- Header
block header
	
//- Footer
block footer
	
//- Content
block content
	
