<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title, label
+longFormSearch({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style2'</span></div></div>
//- Args: title, label
+longFormSearch({
	modifier: 'style2'
})
