include /wiloke-core/_pattern/core/atoms/button/button.pug
include /wiloke-core/_pattern/core/atoms/social/data.pug
include /wiloke-core/_pattern/core/atoms/social/social.pug
include /wiloke-core/_pattern/core/molecules/aaaaaa/aaaaaa.pug
include /wiloke-core/_pattern/core/molecules/breadcrumb/breadcrumb.pug
include /wiloke-core/_pattern/core/molecules/heading/heading.pug
include /wiloke-core/_pattern/core/molecules/pricing-01/pricing-01.pug
include /wiloke-core/_pattern/core/molecules/quote/quote.pug
include /wiloke-core/_pattern/core/organisms/header/data.pug
include /wiloke-core/_pattern/core/organisms/header/header.pug