/* //--- vinhPostComment
--------------------------------------------------------------------------------*/

// module
.module {
	:global {
		ol {
			list-style: none;

			&:first-child {
				padding: 0;
			}

			&.commentlist {
				> li.comment {
					&:last-child .comment_container{
						border: none;
					}

					> ol.children {
						padding-inline-start : 65px;
					}
				}
			}
		}
		div.comment_container {
			@include clearfix;
			padding: 20px 0 15px 0;
			border-bottom: 1px solid #eaeaee;

		}


		li.comment {
			div.comment-footer {
				line-height: 1;
			}

			span.author {
				font-family: $font-secondary;
				color: $color-dark;
				font-weight: $font-semibold;
				font-size: 14px;
			}

			span.date {
				float: right;
				font-size: 11px;
				font-family: $font-primary;

				:global(html[dir=rtl]) & {
					float: left;
				}
			}

			div.comment-avatar {
				display: inline-block;
				@include size(50px);
				img {
					border-radius: 100%;
				}
				float: left;

				:global(html[dir=rtl]) & {
					float: right;
				}
			}

			div.comment-text {
				float: left;
				width: calc(100% - 50px);
				padding: 0 0 0 15px;

				:global(html[dir=rtl]) & {
					float: right;
					padding: 0 15px 0 0;
				}
				
			}

			div.comment-meta {
				line-height: 1.1;
			}

			div.comment-description {
				color: $color-gray-8;
				font-size: 14px;
			}

			div.comment-footer {
				margin: 0 -10px;
				float: left;

				:global(html[dir=rtl]) & {
					float: right;
				}
			}

			div.comment-footer > a {
				color: $color-gray-5;
				text-decoration: none;
				font-size: 11px;
				position: relative;
				padding: 0 10px;
				text-transform: capitalize;

				:global(html[dir=rtl]) & {
					float: right;
				}
				&:before {
					font-family: 'lineawesome';
					color: $color-primary;
					font-size: 11px;
					margin: 0 3px 0 0;					
				}

				+ a:after {
					content: '/';

					@include absolute(left 0 top 50%);
					transform: translate(-50%, -50%);

					:global(html[dir=rtl]) & {
						left: initial;
						right: 0;
						transform: translate(50%, -50%) rotate(-180deg);
					}
				}

				&:first-child {
					// padding: 0 10px 0 0;
					:global(html[dir=rtl]) & {
						// float: right;
					}
				}

			}

			a.comment-reply:before {
				content: "\f19d";
			}

			a.comment-edit:before {
				content: "\f1c1"
			}


		}

		ol.children {
			padding-inline-start: 45px;
			div.comment-avatar {
				@include size(35px);
			}

			div.comment-text {
				width: calc(100% - 35px);
				padding: 0 0 0 10px;

				:global(html[dir=rtl]) & {
					padding: 0 10px 0 0 ;
				}
			}

			span.author {
				font-size: 12px;
			}

			div.comment-description {
				font-size: 13px;
			}
		}

	}
}
