//- demo: true
mixin breadcrumb(args)
	include cssmodule
	+module('div', css.module, args)
		- let args = item


		if (has(args.modifier, 'reverse'))
			h2(class=css.title)= args.title || config.title
			ul(class=css.list)
				li: a(href="#") Home
				li: a(href="#")= args.list || config.title

		else
			ul(class=css.list)
				li: a(href="#") Home
				li: a(href="#")= args.list || config.title
			h2(class=css.title)= args.title || config.title
