//- demo: true
mixin long_cat-title(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		h2(class=css.title)= args.title || random(random.title)

		div(class=css.divider)
