<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title
+long_cat-title({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'right'</span></div></div>
//- Args: title
+long_cat-title({
	modifier: 'right'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'center'</span></div></div>
//- Args: title
+long_cat-title({
	modifier: 'center'
})
