/* //--- vinhList
--------------------------------------------------------------------------------*/

// module
.module {
	position: relative;

	:global{
		ul,ol {
			margin: 0;
			padding: 0;
			// reset margin, padding 
			@include clearfix;

		}

		ul {
			li {
				list-style: none;
			}
		}

		ol {
			list-style: decimal;
		}


	}
}

// ol
.ol {
	
}
