//- demo: true
mixin vinhToplink(args)
	include cssmodule
	include data

	+module('div', css.module, args)
		- let args = item
		
		//- code
		+menu('.toplink',{
			menuClass: '',
			data: toplink,
			submenu: {
				class: '',
				parentClass: ''
			}
		})
		
		
	include cssmodule
