<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, video, overlay
+long_hero({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'fullscreen'</span></div></div>
//- Args: img, video, overlay
+long_hero({
	modifier: 'fullscreen'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'sm'</span></div></div>
//- Args: img, video, overlay
+long_hero({
	modifier: 'sm'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'video'</span></div></div>
//- Args: img, video, overlay
+long_hero({
	modifier: 'video'
})
