//- demo: true
mixin vinhSocial(args)
	include cssmodule

	+module('a', css.module, args,href="#")
		- let args = item
		//- code
		if (has(args.modifier,'socialtext'))
			i(class = args.icon || 'fa fa-facebook')
				span= args.text || random(random.text,10)
		else
			i(class = args.icon || 'fa fa-facebook')

	include cssmodule
