/* //--- vinhSocial
--------------------------------------------------------------------------------*/

// module
.module {
	display: inline-block;
	border-radius: 50%;
		i{
		display: inline-block;
		@include size(40px);
		font-size: 18px;
		line-height: 40px;
		color: $color-light;
		text-align: center;
		border-radius: 50%;
		transition: .3s ease all;
}

	&:hover {
		a {
			text-decoration: none;
		}

		i {
			color: $color-primary;
			transition: .3s ease all;
		}
	}
}



// modifier style02
.style02 {
	background-color: rgba($color-light, 0.3);
	transition: .3s all;
	margin: 6px;

	i {
		@include size(38px);
		transition: .3s all;
	}
}


// modifier style03
.style03 {
	background: #f6f6f6;
	i {
		@include size(34px);
		font-size: 14px;
		color: $color-gray-8;
	}
}

// modifier socialtext
.socialtext {
	content: none;
	i {
		width: initial;
		height: initial;
	}
}