-
	//- splitValueCss({
	//- 	value: '#426efc',
	//- 	fileCss: 'app.css',
	//- 	colors: {
	//- 		red: '#ff7474',
	//- 		blue: 'blue',
	//- 		pink: '#ff71fa',
	//- 		cyan: '#56e0f9',
	//- 	}
	//- })

	//- splitValueCss({
	//- 	value: '#fff',
	//- 	fileCss: 'app.css',
	//- 	colors: {
	//- 		test: '#f00',
	//- 	}
	//- })

	//- splitValueCss({
	//- 	value: '"Montserrat", sans-serif',
	//- 	fileCss: 'app.css',
	//- 	fonts: {
	//- 		raleway: '"Raleway", sans-serif',
	//- 		poppins: '"Poppins", sans-serif',
	//- 		playfair: '"Playfair Display", serif',
	//- 	}
	//- })

	//- splitValueCss({
	//- 	value: '#fff',
	//- 	fileCss: 'app.css',
	//- 	colors: {
	//- 		test: '#399',
	//- 	}
	//- })
