<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: background, img, name, meta, text, signature, background, signature
+widget-about({
	
})
