/* //--- widget-about
--------------------------------------------------------------------------------*/

:global {
	.widget-about__header {
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: 5px 5px 0 0;
		z-index: 9;
		margin: -15px -15px 0;
		transform: translateZ(0);
		@include media('>=md') {
			margin: -20px -20px 0;
		}
		&:after {
			content: '';
			display: block;
			padding-top: 56.25%;
		}
		.wil-overlay {
			opacity: 0.7;
		}
	}
	.widget-about__headerInfo {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 10px 15px;
		@include media('>=md') {
			padding: 13px 20px;
		}
	}
	.widget-about__avatar {
		@include size(78px);
		border-radius: 50%;
		float: left;
		margin-right: 15px;
		img {
			display: none;
		}
	}
	.widget-about__name {
		font-size: 16px;
		color: $color-light;
		margin: 0;
		margin-top: 15px;
	}
	.widget-about__meta {
		display: block;
		font-size: 13px;
		color: $color-light;
	}
	.widget-about__body {
		padding-top: 15px;
	}
	.widget-about__signature {
		margin-top: 15px;
	}
}

