<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: destinations, title, desc
+vinhHerotext({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args: destinations, title, desc
+vinhHerotext({
	modifier: 'style02'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style03'</span></div></div>
//- Args: destinations, title, desc
+vinhHerotext({
	modifier: 'style03'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style04'</span></div></div>
//- Args: destinations, title, desc
+vinhHerotext({
	modifier: 'style04'
})
