/* //--- vinhHerotext
--------------------------------------------------------------------------------*/

// module
.module {
	position: relative;
}

// title
.title {
	margin: 0;
	font-size: 50px;
	display: inline-block;
	@include setBackgroundGradient($color-primary, $color-primary-hover)
}

// desc
.desc {
	font-size: 20px;
	color: rgba($color-light,0.8);
	line-height: 1.5;
}

// destinations
.destinations {
	text-transform: uppercase;
	font-family: $font-primary;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
	padding: 0 0 8px 0;
	border-bottom: 1px solid $color-light;
}


// modifier style02
.style02 {
	@include pfs('margin-bottom',(
		400px:  50px,
		768px:  80px,
		1200px: 124px,
	));

	.title {
		@include pfs('font-size',(
			1200px: 50px,
			768px: 40px
		))
	}

	.desc {
		max-width:  670px;
		font-size: 19px;
		margin: 0 auto;
	}
}


// modifier: style03
.style03 {
	top: -25px;
	.title {
		font-size: 60px;
		text-transform: capitalize;
	}

	.desc {
		font-size: 19px;
	}
}

// modifier style04
.style04 {
	.title {
		background: $color-light;
		line-height: 1;
		display: block;
		@include pfs('font-size',(
			1200px: 98px,
			768px: 50px
		))
	}

	.desc {
		font-family: $font-quarter;
		font-size: 19px;
		max-width: 650px;
		margin: 0 auto;
		color: $color-light;
	}

	.destinations {
		color: $color-light;
		margin: 0 0 25px 0;
		letter-spacing: 2px;
	}
}