<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'blog'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'blog'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'blog-detail'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'blog-detail'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'blog-standard'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'blog-standard'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'home'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'home'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'destination-single'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'destination-single'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'destination'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'destination'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'about'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'about'
})
