<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'blog'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'blog'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'home'</span></div></div>
//- Args: search
+vinhPlaceHolderLoad({
	modifier: 'home'
})
