-	
	var menuData = [
		{
			text: 'Home',
			url: 'home1.html',
			submenu: [
				{
					text: 'Home 1',
					url: 'home1.html',
				},
				{
					text: 'Home 2',
					url: 'home2.html',
				},
				{
					text: 'Home 3',
					url: 'home3.html',
				},
				{
					text: 'Home 4',
					url: 'home4.html',
				},
				{
					text: 'Home 5',
					url: 'home5.html',
				},
			]
		},
		{
			text: 'Destinations',
			url: 'destinations.html',
			submenu: [
				{
					text: 'Work 1',
					url: 'work.html',
					submenu: [
						{
							text: 'Work 1',
							url: 'work.html',
						},
						{
							text: 'Work 2',
							url: 'work.html',
						},
						{
							text: 'Work 3',
							url: 'work.html',
						}
					]
				},
				{
					text: 'Work 2',
					url: 'work.html',
					submenu: [
						{
							text: 'Work 1',
							url: 'work.html',
						},
						{
							text: 'Work 2',
							url: 'work.html',
						},
						{
							text: 'Work 3',
							url: 'work.html',
						}
					]
				},
				{
					text: 'Work 3',
					url: 'work.html',
				}
			]
		},
		{
			text: 'Guides',
			url: '#',
		},
		{
			text: 'Blog',
			url: 'blog-standard.html'
		},
		{
			text: 'About',
			url: 'about.html'
		},
		{
			text: 'Contact',
			url: 'contact.html'
		}
	]
