<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args:
+longHeader({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args:
+longHeader({
	modifier: 'style02'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'dark'</span></div></div>
//- Args:
+longHeader({
	modifier: 'dark'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'full'</span></div></div>
//- Args:
+longHeader({
	modifier: 'full'
})
