//- demo: true
mixin longHeader(args)
	include cssmodule

	+module('header', css.module, args)
		-
			let args = item
			let logo = 'img/logo.png'


		div(class=css.logo)
			a(href="#"): img(src=logo, alt="")

		+menu('.header-nav', {
			menuClass: 'header-menu',
			data: menuData,
			submenu: {
				class: 'sub-menu',
				parentClass: 'menu-item-has-children'
			}
		})
			include cssmodule
			span.toggle-menu
				span
				span
				span

			div(class=css.search class='widget_search')

				a(href="#" class='toggle-mobile')
					i.la.la-search
				+vinhWidgetSearch({
					searchIcon: 'la la-search'
				})
				

