/* //--- longHeader
--------------------------------------------------------------------------------*/

// module
.module {
	position: absolute;
	z-index: 9999;
	background-color: $color-light;
	border-radius: 5px;
	box-shadow: 0px 0px 30px 0px rgba(27, 27, 29, 0.1);
	@include pfs('top, left, right', (
		400px: 10px,
		1200px: 10px
	));

	@include pfs('padding-left, padding-right', (
		400px: 15px,
		1200px: 40px
	));


	@include pfs('padding-top, padding-bottom', (
		400px: 10px,
		1200px: 17px
	));

	:global {
		form[class*=search] {
			transform: translateX(100%);

			:global(html[dir=rtl]) & {

				@include media('<=1200px'){
					transform: translateX(-100%);

				}
			}

 			transition: .3s ease all;

			.item-group {
				overflow: hidden;
			}

			input {
			}

			button {
				padding: 0;
				&:after {
					content: none;
				}

				i {
					font-size: 22px;
				}
			}

			button:hover {
				i {
					color: $color-primary;
				}
			}
		}

		form[data-state=open] {
			:global(html[dir=rtl]) & {
				transform: translateX(0);
			}
			transform: translateX(0);
			transition: .3s ease all;
			input {
			}

			button {
				padding: 0 15px;
				&:after {
					content: '';
				}

				:global(html[dir=rtl]) & {
					padding: 0 15px;
				}
			}
			
			button:hover {
				i {
					color: $color-light;
				}
			}
		}


		@include media(">=685px"){
			
			form[class*=search] {
				transform: translateX(0);
				input {
				}

				button {
					padding: 0 15px;
					&:after {
						content: '';
					}
				}
				
				button:hover {
					i {
						color: $color-light;
					}
				}
			}
		}

		a.toggle-mobile {
			display: block ;
			z-index: 0;
			top: 50%;
			position: absolute;
			right: 0;
			transform: translateY(-50%);

			:global(html[dir=rtl]) & {
				right: initial;
				left: 0;
			}

			@include media(">=685px") {
				display: none;
			}
		}


		@include media('<=1200px'){
				:global(html[dir=rtl]) & {
					.header-nav .header-menu {
						left: 0;
						right: initial;
						transform: translate(-100%, 0);
						text-align: right;
						
						
						li.menu-item-has-children > a:after {
							font-family: 'fontawesome';
							content: '\f107';
						}

						
						&.active {
							transform: translate(0, 0);
						}
					}
					
					.header-nav .header-menu a:after {
						left: 0;
						right: initial;
						border-left: none;
						border-right: 1px solid rgba(255, 255, 255, 0.1);
					}
				}
			}

			.header-menu {
				:global(html[dir=rtl]) & {
					text-align: right;
					@include media('>=1200px'){
						> li.menu-item-has-children > a:after {
							margin: 0 4px 0 0
						}
					}
					.sub-menu {
						text-align: right;


						li.menu-item-has-children > a:after {
							left: 0;
							right: initial;
							content: '\f107';
							font-family: 'fontawesome';
							position: absolute;
							margin: 0 4px 0 0;
							
							@include media('>=1200px'){
								left: 15px;
								content: '\f104';
							}
						}
					}

					.sub-menu .sub-menu {
						right: 100%;
						left: initial;
					}
					.sub-menu li > a {
						text-align: right;

						&:after {
							left: 15px;
							right: initial;
						}
					}

				}
			}
	}
}

// logo
.logo {
	padding: 7px 0;
	text-align: center;
	@include media('>lg') {
		border-right: 2px solid $color-gray-2;
		margin-right: 40px;
		padding: 7px 70px 7px 0;
		float: left;

		:global(html[dir=rtl]) & {
			float: right;
			padding: 7px 0 7px 70px;
			margin: 0 0 0 40px;
			border-right: none;
			border-left: 2px solid $color-gray-2;
		}
	}
	img {
		max-width: none;
		max-height: 39px;
		@include media('<sm') {
			max-height: 27px;
		}
	}
}

// search
.search {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-family: $font-secondary;
	font-weight: $font-medium;
	font-size: 14px;
	color: $color-dark;
	width: 80%;
	overflow: hidden;
	@include pfs('right', (
		400px: 15px,
		1200px: 40px
	));

	:global(html[dir=rtl]) & {
		@include pfs('left', (
			400px: 15px,
			1200px: 40px
		));
		right: initial;
	}
	* {
		vertical-align: middle;
	}
	i {
		font-size: 22px;
		font-weight: $font-normal;
		color: $color-gray-5;
		transition: .3s ease all;
	}
	
	a {
		color: $color-dark-2;
		text-decoration: none;
		font-weight: $font-semibold;
		transition: .3s ease all;
	}
	
	:global(.item-group) {
		input {
			border: 1px solid $color-gray-1 !important;
			
			&:focus {
				border: 1px solid $color-primary !important;
			} 
		}
	};
	
	@include media('<=lg') {
		font-size: 0;
	}
	@include media('>=685px'){
		width: 268px;
	}


}

// fixed
.fixed {
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		// border-bottom: 1px solid $color-gray-2;
		animation: fixed 0.3s ease;
		@include pfs('padding-top, padding-bottom', (
			400px: 10px,
			1200px: 15px
		));

		@keyframes fixed {
			0% {
				transform: translate(0, -100%);
			}
			100% {
				transform: translate(0, 0);
			}
		}
	}
}

:global {
	.toggle-menu {
		position: absolute;
		width: 22px;
		height: 16px;
		margin: auto;
		top: 0;
		bottom: 0;
		@include pfs('left', (
			400px: 15px,
			1200px: 50px
		));

		:global(html[dir=rtl]) & {
			@include pfs('right', (
				400px: 15px,
				1200px: 50px
			));
			left: initial;
		}



		cursor: pointer;
		user-select: none;
		transition: all 0.3s ease;
		span {
			position: absolute;
			left: 0;
			margin: auto;
			width: 100%;
			height: 2px;
			background-color: rgba($color-dark,0.8);
			transition: all 0.3s ease;
			&:nth-child(1) {
				top: 0;
				transform: translate(0, 0) rotate(0);
			}
			&:nth-child(2) {
				top: 0;
				bottom: 0;
			}
			&:nth-child(3) {
				bottom: 0;
				transform: translate(0, 0) rotate(0);
			}
		}

		@include media('>=lg'){
			display: none;
		}
	}
	.header-menu.active {
		~ .toggle-menu {
			transform: rotate(-90deg);
			span {
				background-color: $color-primary;
				&:nth-child(1) {
					top: 50%;
					transform: translate(0, -50%) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					bottom: 50%;
					transform: translate(0, 50%) rotate(45deg);
				}
			}
		}
	}
}

:global {
	@include wilMenu('.header-nav', (
		menuClass: 'header-menu',
		theme: 'style2',
		align: 'left',
		breakpoint: 1200,
		css: (
			color: $color-dark,
			font-family: $font-secondary,
			font-size: 14px,
			font-weight: $font-semibold,
			padding: 10px 27px,
			hover: (
				color: $color-primary
			),
			current: (
				color: $color-primary
			)
		),
		arrow: (
			use: 'FontAwesome',
			icon: 'fa-angle-down'
		),
		subMenu: (
			width: 200,
			class: 'sub-menu',
			parentClass: 'menu-item-has-children',
			align: 'right',
			position: 'right',
			css: (
				color: $color-dark,
				font-weight: $font-medium,
				hover: (
					color: $color-primary
				),
				current: (
					color: $color-primary
				)
			),
			arrow: (
				use: 'FontAwesome',
				icon: 'fa-angle-right'
			),
			animate: (
				time: 300,
				easing: 'easeOutBack',
				effect: 'slideDown'
			)
		),
		menuMobile: (
			toggleClass: 'active',
			classButtonToggle: 'toggle-menu',
			theme: 'style1',
			align: 'left',
			width: 260,
			css: (
				font-size: 14px,
				color: $color-gray-3,
				border-bottom: 1px solid rgba(#fff, 0.05),
				hover: (
					color: $color-gray-3
				),
				toggle: (
					color: $color-primary
				)
			),
			arrow: (
				use: 'FontAwesome',
				icon: 'fa-angle-down'
			),
			subMenu: (
				css: (
					hover: (
						color: $color-gray-3
					),
					toggle: (
						color: $color-primary
					)
				)
			)
		),
		responsiveByJavascript: (
			enable: false
		)
	));
}

// modifier style02
.style02 {
	@include pfs('top, left, right', (
		400px: 0px,
		1200px: 0px
	));

	@include pfs('padding-left, padding-right', (
		400px: 15px,
		1200px: 40px
	));


	@include pfs('padding-top, padding-bottom', (
		400px: 10px,
		1200px: 10px
	));
}

// modifier dark
.dark {

	.logo {
		border-right: 2px solid rgba(218, 218, 218, 0.1);
	}
	:global {
		form.search-form {
			input {
				background-color: #2f2f31 !important;
				border: 1px solid $color-dark !important; 

				&:focus {
					background-color: lighten(#2f2f31,80%) !important;
				}
			}
		}

		background: $color-dark;
		border-bottom: 1px solid #000;

			span.toggle-menu {
				span {
					background-color: rgba($color-light,0.5);
				}
			}
		.header-nav {
			> .header-menu > li {
				a {
					color: $color-light;
				}

				ul.sub-menu {
					background: $color-dark;
				}
			}
		}
	}
}

// modifier full
.full {
// 	​        position: absolute;

// ​        top: 0;

// ​        left: 0;

// ​        right: 0;

// ​        border-radius: 0;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0;
}
