//- demo: true
mixin longHeader(args)
	include cssmodule

	+module('header', css.module, args)
		-
			let args = item
			let logo = 'img/logo.png'


		div(class=css.logo)
			a(href="#"): img(src=logo, alt="")

		+menu('.header-nav', {
			menuClass: 'header-menu',
			data: menuData,
			submenu: {
				class: 'sub-menu',
				parentClass: 'menu-item-has-children'
			}
		})
			span.toggle-menu
				span
				span
				span

		include cssmodule
		a(class=css.search, href="#")
			span Find your destinations
			i.pe-7s-search
			
	+longSearchFixed({
	
	})
