//- demo: true
mixin vinhSection12(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		//- code
		+section({
			container: true,
		})

			+vinhHeader({
				title: 'Statistical'
			})

			+row
				+col({
					cols: [0,0,4,4],
					gap: 30,
				})

					+vinhIcon06({
					})

				+col({
					cols: [0,0,4,4],
					gap: 30,
				})

					+vinhIcon06({
						
					})
				
				+col({
					cols: [0,0,4,4],
					gap: 30,
				})

					+vinhIcon06({
						
					})
		
	include cssmodule
