if (file === "/wiloke-template/vinh/app/_pattern/vinh/atoms/button/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/atoms/button/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/atoms/header/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/atoms/header/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/atoms/imageCover/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/atoms/imageCover/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/abc/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/abc/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/icon-02/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-02/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/icon-03/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-03/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/icon-04/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-04/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/icon-05/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-05/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/icon-06/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon-06/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/icon/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/icon/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/responsiveMenu/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/responsiveMenu/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/sideMenu/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/sideMenu/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/social/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/social/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/swiper/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/swiper/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/test/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/test/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/textbox/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/textbox/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/molecules/toplink/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/molecules/toplink/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/menu/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/menu/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section01/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section01/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section02/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section02/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section03/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section03/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section04/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section04/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section05/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section05/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section06/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section06/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section07/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section07/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section08/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section08/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section09/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section09/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section10/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section10/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section11/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section11/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section12/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section12/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section13/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section13/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section14/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section14/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/section15/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/section15/demo.pug
if (file === "/wiloke-template/vinh/app/_pattern/vinh/organisms/social/demo.pug")
	include /wiloke-template/vinh/app/_pattern/vinh/organisms/social/demo.pug