<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title
+vinhHeader({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'textRight'</span></div></div>
//- Args: title
+vinhHeader({
	modifier: 'textRight'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'textLeft'</span></div></div>
//- Args: title
+vinhHeader({
	modifier: 'textLeft'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args: title
+vinhHeader({
	modifier: 'style02'
})
