<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: avatar, body, contentElipsis, title, content, description
+long_utility-box-1({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'md'</span></div></div>
//- Args: avatar, body, contentElipsis, title, content, description
+long_utility-box-1({
	modifier: 'md'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'sm'</span></div></div>
//- Args: avatar, body, contentElipsis, title, content, description
+long_utility-box-1({
	modifier: 'sm'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'xs'</span></div></div>
//- Args: avatar, body, contentElipsis, title, content, description
+long_utility-box-1({
	modifier: 'xs'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'boxLeft'</span></div></div>
//- Args: avatar, body, contentElipsis, title, content, description
+long_utility-box-1({
	modifier: 'boxLeft'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'light'</span></div></div>
//- Args: avatar, body, contentElipsis, title, content, description
+long_utility-box-1({
	modifier: 'light'
})
