<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title
+long_header-blog-single({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'background'</span></div></div>
//- Args: title
+long_header-blog-single({
	modifier: 'background'
})
