/* //--- vinhBox
--------------------------------------------------------------------------------*/

$defaultOpt: (
	loop: 10
);
@mixin socialAnimation($classes, $opts: $defaultOpt) {
	#{$classes} {
		$loop: map-get($opts, 'loop');
		@for $i from 0 through $loop {
			&:nth-child(#{$i}) {
				transition-delay: $i * 0.1s;
			}
		}
	}
}

// module
.module {
	overflow: hidden;
	position: relative;
	border-radius: $general-radius;
	@include clearfix;
	box-shadow: 0px 12px 30px 0px rgba(27, 27, 29, 0.08);


	:global {
		.cover {
			transition: .3s ease all;
		}

		.wil-overlay {
			opacity: 0;
			transition: .5s ease all;
			background-color: rgba($color-gray-8,0.5);
			position: absolute;
			@include absFull(1);		
		}
		span[class*=textboxsmall__category] {
			display: initial;
		}

		h4.module-category {
			@include absolute(top 10px left 10px);
			z-index: 10;
		}
	}

	&:global(.active) {
		.social {
			> a {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}

		.share  {
			a {
				color: $color-primary !important;
			}
		}

		:global  {
			.cover {
				filter: blur(2px);
				transform: scale(1.1);
				transition: all .2s ease;
			}

			.wil-overlay {
				opacity: 1;
				transition: all .3s ease;
			}
		}
	}

	

	a:hover,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none !important;
	}
}

// img
.img {
	position: relative;
	overflow: hidden;
	z-index: 9;

	img {
		width: 100%;
		transition: all .3s ease;
		position: relative;
		z-index: -2;
	}
}

// tag
.tag {
	line-height: 1;
}
// social
.social {
	@include absAlign;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 2;

	a {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 20px);
		transition: all 0.2s cubic-bezier(.4,.8,.58,1.29);
	}
	@include socialAnimation('a');
}

// bg

// content
.content {
	background-color: $color-light;
	padding: 15px 20px;
	position: relative;
	@include clearfix;
}

// text
.text {
	content: none;
}

// desc
.desc {
	content: none;
}

// title
.title {
	margin: 0 0 5px 0;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1.4;
}

// view
.view {
	content: none;
}

// comment
.comment {
	content: none;
}

.view,
.comment {
	a {
	color: $color-primary !important;
	}
}

// share
.share {
	@include clearfix;
	color: $color-gray-1;
	@include absolute(bottom 15px right 20px);
	line-height: 1;

	a {
		color: $color-gray-6;
		font-size: 20px;
		line-height: 1;
		transition: .3s color;
		text-decoration: none;
		line-height: 0;
	}

	:global(.active){
		color: $color-primary;
		transition: .3s color;
	}
}

// meta
.meta {
	float: left;
	@include clearfix;
	font-size: 12px;
	line-height: 1;

	i {
		color: $color-primary;
		margin-right: 5px;
		font-size: 16px;
		vertical-align: text-bottom;
	}

	> span {
		margin-right: 15px;
		color: $color-gray-7 !important;
	}

	:global {
		span[class*=textboxsmall]{
			padding: 0 10px;
			position: relative;
			margin: 0;

			&:first-child {
				padding: 0 10px 0 0 ;
			}

			+ span[class*=textboxsmall]:before{
				content: '-';
				@include absolute(top 50% left 0);
				transform: translate(-50%,-50%);
				font-size: 15px;
				line-height: 1;
				color: #e2e2e5;
			}
		}

	}
}
