/* //--- vinhBox
--------------------------------------------------------------------------------*/

$defaultOpt: (
	loop: 10
);
@mixin socialAnimation($classes, $opts: $defaultOpt) {
	#{$classes} {
		$loop: map-get($opts, 'loop');
		@for $i from 0 through $loop {
			&:nth-child(#{$i}) {
				transition-delay: $i * 0.1s;
			}
		}
	}
}

// module
.module {
	overflow: hidden;
	position: relative;
	border-radius: $general-radius;
	@include clearfix;
	box-shadow:$shadow-style01;	
	// box-shadow: 0px 12px 30px 0px rgba(27, 27, 29, 0.08);
	margin: 10px  0 20px 0;

	:global(.wil-overlay) {
		opacity: 0;
		transition: all .3s ease;
		background-color: rgba($color-gray-8,0.5);
		position: absolute;
		@include absFull(1);		
	}

	&:global(.active) {
		.social {
			> span {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}

		.share  {
			a {
				color: $color-primary;
			}
		}

		:global(.wil-overlay) {
			opacity: 1;
			transition: all .3s ease;
		}

		.bg {
			filter: blur(2px);
			transform: scale(1.1);
			transition: all .3s ease;
		}
	}

	

	a:hover,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none !important;
	}
}

// img
.img {
	position: relative;
	overflow: hidden;
	z-index: 9;

	img {
		width: 100%;
		transition: all .3s ease;
		position: relative;
		z-index: -2;
	}
}

// tag
.tag {
	line-height: 1;
	:global(#moduleTag) {
		padding: 7px;
		color:  rgba($color: $color-light, $alpha: 0.8);
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
		background-color: $color-tertiary;
		border-radius: 5px;
	}
}
// social
.social {
	@include absAlign;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 2;

	> span {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 20px);
		transition: all 0.2s cubic-bezier(.4,.8,.58,1.29);
	}
	@include socialAnimation('span');
}

// bg
.bg {
	padding-top: 56.57%;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 0;
	transition: .3s all ease;	
}

// content
.content {
	background-color: $color-light;
	padding: 20px;
	position: relative;
	@include clearfix;
}

// text
.text {
	content: none;
}

// desc
.desc {
	content: none;
}

// title
.title {
	margin: 5px 0;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1;
}

// view
.view {
	content: none;
}

// comment
.comment {
	content: none;
}

.view,
.comment {
	a {
	color: $color-primary !important;
	}
}

// share
.share {
	@include clearfix;
	color: $color-gray-1;
	position: absolute;
	right: 20px;
	bottom: 20px;
	a {
		color: $color-gray-6;
		font-size: 25px;
		line-height: 1;
		transition: .3s color;
		text-decoration: none;
	}

	:global(.active){
		color: $color-primary;
		transition: .3s color;
	}
}

// meta
.meta {
	float: left;
	@include clearfix;
	font-size: 12px;

	i {
		color: $color-primary;
		margin-right: 5px;
		font-size: 16px;
	}

	> span {
		margin-right: 15px;
		color: $color-gray-7 !important;
	}
}

@each $name,$value in $colors {
	:global(.bgcolor-#{$name}) {
		background-color: $value;
	}
}

