-
	footer= {
		cat: [
			{
				//- text: random(random.country),
				submenu: {
					text: random(random.continental),
					data: {
						data: [
							{
								text: random(random.country),
							},
							{
								text: random(random.country),
							},
							{
								text: random(random.country),
							},
							{
								text: random(random.country),
							}
						],
					}
				}
			},
			{
				submenu: {
					text: random(random.continental),
					data: {
						data: [
							{
								text: random(random.country),
							},
							{
								text: random(random.country),
							},
							{
								text: random(random.country),
							},
							{
								text: random(random.country),
							}
						],
					}
				}
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
		]
	}