-
	footer= {
		cat: [
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
			{
				text: random(random.country)
			},
		]
	}