/* //--- vinhIcon03
--------------------------------------------------------------------------------*/
/* //--- 
--------------------------------------------------------------------------------*/

// module
.module {
	
}

// title
.title {
	color: $color-dark-4;
}

// text
.text {
	color: $color-gray-6;
}

// content
.content {
	
}

// modifier style02
.style02 {
	.title {
		font-size: 30px;
		margin: 0 0 5px 0;
	}

	.text {
		font-size: 16px;
	}
}

// modifier style03
.style03 {
	background-color: $color-gray-7;
	width: 100%;
	padding: 50px 70px;

	.title {
		font-size: 20px;
		margin: 0 0 15px 0;
	}

	.text {
		font-size: 16px;
	}
}

//modifier style04 
.style04 {
	.title {
		margin: 0 0 5px 0;
		font-size: 40px;
	}

	.text {
		font-size: 16px;
	}
}

//modifier style05
.style05 {
	position: relative;
	
	.title {
		margin: 0 0 10px 0	;
		padding-top: 40px;
		font-size: 20px;
	}

	.text {
		font-size: 14px;
		margin-right: 30px;
	}

	&::after {
		content: '';
		height: 4px;
		background: $color-gray-9 ;
		position: absolute;
		top: 0;
		width: 100%;
		transition: .3s all;
		z-index: 0;
	}

	&::before {
		content : ' ';
		height:4px;
		background: $color-primary;
		top: 0;
		width: 0%;
		position: absolute;
		transition: .3s all;
		z-index: 1;

	}
}

.style05:hover,
.style05:active {
	&::after {
		// background: $color-primary;
		transition: .3s all;
	}

	&::before {
		width: 100%;
		transition: .3s all;
		z-index: 1;
	}
}
