<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args:
+vinhPlaceholderItem({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'search-wide'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'search-wide'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'post02'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'post02'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'imgbox06'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'imgbox06'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'sectitle'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'sectitle'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'blogdetail'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'blogdetail'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'standard'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'standard'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'about'</span></div></div>
//- Args:
+vinhPlaceholderItem({
	modifier: 'about'
})
