-
	let navVerticalData = [
		{
			text: 'Argentina',
			url: '#'
		},
		{
			text: 'Viet Nam',
			url: '#',
			submenu: [
				{
					text: 'Ha Noi',
					url: '#'
				},
				{
					text: 'Hai Phong',
					url: '#',
					submenu: [
						{
							text: 'Vinh Bao',
							url: '#'
						},
						{
							text: 'Kien An',
							url: '#'
						},
						{
							text: 'Tien Lang',
							url: '#'
						},
						{
							text: 'Do Son',
							url: '#'
						}
					]
				},
				{
					text: 'Da Nang',
					url: '#'
				},
				{
					text: 'Quang Ninh',
					url: '#'
				},
				{
					text: 'Nha Trang',
					url: '#'
				},
			]
		},
		{
			text: 'Australia',
			url: '#',
			submenu: [
				{
					text: 'Airlie Beach',
					url: '#',
				},
				{
					text: 'Alice Springs',
					url: '#'
				},
				{
					text: 'Brisbane Cairns',
					url: '#'
				},
				{
					text: 'Darwin',
					url: '#'
				}
			]
		},
		{
			text: 'Brazil',
			url: '#',
			submenu: [
				{
					text: 'Airlie Beach',
					url: '#'
				},
				{
					text: 'Alice Springs',
					url: '#'
				},
				{
					text: 'Brisbane Cairns',
					url: '#'
				},
				{
					text: 'Darwin',
					url: '#'
				}
			]
		},
		{
			text: 'Chile',
			url: '#'
		},
		{
			text: 'China',
			url: '#'
		},
		{
			text: 'France',
			url: '#'
		},
	]
