<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, text
+vinhListitem({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'galery'</span></div></div>
//- Args: icon, text
+vinhListitem({
	modifier: 'galery'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style02'</span></div></div>
//- Args: icon, text
+vinhListitem({
	modifier: 'style02'
})
