/* //--- vinhListitem
--------------------------------------------------------------------------------*/

// module
.module {
	content: none;
}

//modifier: galery
.galery {
	float: left;
}

//modifier: style02 
.style02 {
	margin: 0 0 10px 0;

	i {
		font-size: 24px;
		color: $color-primary;
		vertical-align: top;
		margin-right: 12px;

		:global(html[dir=rtl]) & {
			margin-left: 12px;
			margin-right: 0;
		}
	}
}