//- demo: true
mixin vinhListitem(args)
	include cssmodule

	+module('li', '', args)
		- let args = item
		
		//- code

		if has(args.modifier,'style02')
			a(href="#")
				i(class=args.icon || 'fa fa-square')
				= args.text || 'text'
		else
			a(href="#")= args.text || 'text'

	include cssmodule
