//- demo: true
mixin vinhListitem(args)
	include cssmodule

	+module('li', css.module, args)
		- let args = item
		
		//- code
		if (args.icon && args.text)
			span(class= args.icon || 'fa fa-square')
			= args.text ||  random(random.text,50)
		else if (args.icon && args.link)
			span(class= args.icon || 'fa fa-square')
			a(href=args.link.href)= args.link.text || random(random.text,50)
		else 
			=args.text ||  random(random.text,50)
	include cssmodule
