<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: textBoxHref, icon, iconColor, text
+long_text-box-gradient({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'light'</span></div></div>
//- Args: textBoxHref, icon, iconColor, text
+long_text-box-gradient({
	modifier: 'light'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'active'</span></div></div>
//- Args: textBoxHref, icon, iconColor, text
+long_text-box-gradient({
	modifier: 'active'
})
