<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, iconColor, classText, text
+long_text-box-small({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style2'</span></div></div>
//- Args: icon, iconColor, classText, text
+long_text-box-small({
	modifier: 'style2'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'reverse'</span></div></div>
//- Args: icon, iconColor, classText, text
+long_text-box-small({
	modifier: 'reverse'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'light'</span></div></div>
//- Args: icon, iconColor, classText, text
+long_text-box-small({
	modifier: 'light'
})
