<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, curency, price, sale, name
+longProduct({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'soldout'</span></div></div>
//- Args: img, curency, price, sale, name
+longProduct({
	modifier: 'soldout'
})
