<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, curency, price, sale, name
+longProduct({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'soldout'</span></div></div>
//- Args: img, curency, price, sale, name
+longProduct({
	modifier: 'soldout'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'rounded-10'</span></div></div>
//- Args: img, curency, price, sale, name
+longProduct({
	modifier: 'rounded-10'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'sale'</span></div></div>
//- Args: img, curency, price, sale, name
+longProduct({
	modifier: 'sale'
})
