/* //--- long_pagination
--------------------------------------------------------------------------------*/

// module
.module {
	background-color: $color-light;
	border-radius: 5px;
	display: table;
	width: 100%;
	a, span {
		display: table-cell;
		width: 85px;
		height: 85px;
		line-height: 85px;
		border-right: 1px solid $color-gray-3;
		font-family: $font-secondary;
		font-size: 18px;
		font-weight: $font-medium;
		text-align: center;
		vertical-align: middle;
		i {
			font-size: 30px;
			vertical-align: middle;
		}
	}
	:global(.current) {
		font-size: 30px;
		color: $color-primary;
	}
}

// prev
.prev {
	width: 182px !important;
}

// next
.next {
	width: 182px !important;
	
}


// style02
.style02 {
	background: none;
	display: block;
	text-align: center;

	a,span {
		border: none;
		display: inline-block;
		border-radius: 100%;
		background: $color-light;
		@include size(45px);
		font-family: $font-secondary;
		font-size: 16px;
		color: $color-gray-8;
		margin:0 5px;
		font-weight: $font-normal;


		&:hover {
			color: $color-primary;
		}
	}

	a {
		text-decoration: none;
	}

	.prev {
		display: none;
		visibility: hidden;
	}

	.next {
		width: 45px !important;
		position: relative;

		:global(html[dir=rtl]) & {
			i:before {
				content: '\f111';
			}
		}
		
		i {
			font-size: inherit;
			position: absolute;
			@include absolute(top 50% left 50%);
			transform: translate(-50% , -50%);
		}
	}

	:global {
		span.current {
			@include size(50px);
			font-size: 20px;
		}
	}
}