include /wiloke-template/travel_template/app/_pattern/vinh/atoms/cat-title/cat-title.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/demo1/demo1.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/demo2/demo2.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/demo3/demo3.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/field/field.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/list-title-sm/list-title-sm.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/social/social.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/text-box-small-2/text-box-small-2.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/text-box-small/text-box-small.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/utility-box-1/data.pug
include /wiloke-template/travel_template/app/_pattern/vinh/atoms/utility-box-1/utility-box-1.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/author-single/author-single.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/blog-comment/blog-comment.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/breadcrumb/breadcrumb.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/canvas-textbox/canvas-textbox.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/form-comment/form-comment.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/form-search/form-search.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/header-blog-single/header-blog-single.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/heading/heading.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/hero-text/hero-text.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/image-box/image-box.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/list-box-fixed/list-box-fixed.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/nav-vertical/data.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/nav-vertical/nav-vertical.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/pagination/pagination.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/panel-title/panel-title.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/panel/panel.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/pop-post/pop-post.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/post/post.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/product/product.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/quote1/quote1.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/quote2/quote2.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/share/share.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/swiper/swiper.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/team/team.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box-2/textbox.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box-gradient/text-box-gradient.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/text-box/text-box.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/video-popup/video-popup.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/data.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-about/widget-about.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-author/widget-author.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-contact/widget-contact.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-destinations/widget-destinations.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-gallery/widget-gallery.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-image/widget-image.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-list/widget-list.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-post/widget-post.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-social/widget-social.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-statictis/widget.statictis.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-subsc/widget-subsc.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget-tag/widget-tag.pug
include /wiloke-template/travel_template/app/_pattern/vinh/molecules/widget/widget.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/body-blog-single/body-blog-single.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/body-des-single/body-des-single.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/destinations-box/destinations-box.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/footer/footer.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/form-contact/form-contact.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/header/data.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/header/header.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/hero-des-single/hero-des-single.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/hero-form/hero-form.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/hero/hero.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/info-contact/info-contact.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/search-fixed/search-fixed.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/sidebar-1/data.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/sidebar-1/sidebar-1.pug
include /wiloke-template/travel_template/app/_pattern/vinh/organisms/vector-map/vector-map.pug
include /wiloke-template/travel_template/app/_pattern/vinh/templates/page-404/page-404.pug