//- demo: true
mixin vinhSection06(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		//- code
		+section({
			container: true,
		})
			+row({

			})
				+col({
					cols: [0,0,3,3],
					gap:30,
					offsets: [0,0,2,2],
				})
					img(src="img/phone01.png", alt="")

				+col({
					cols: [0,0,5,5],
					gap: 30,
					offsets: [0,0,1,1],
				})


					+vinhIcon03({
						modifier: 'style02'
					})

					+vinhIcon02({
						modifier: 'style03'
					})

					+vinhIcon02({
						modifier: 'style03'
					})

					+vinhIcon02({
						modifier: 'style03'
					})
		
		
	include cssmodule
