<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: name, email, search, textarea
+vinhForm({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'subscribe'</span></div></div>
//- Args: name, email, search, textarea
+vinhForm({
	modifier: 'subscribe'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'search-wide'</span></div></div>
//- Args: name, email, search, textarea
+vinhForm({
	modifier: 'search-wide'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'feedback'</span></div></div>
//- Args: name, email, search, textarea
+vinhForm({
	modifier: 'feedback'
})
