/* //--- vinhForm
--------------------------------------------------------------------------------*/

// module
.module {
	@include clearfix;
	padding: 30px;
	position: relative;
	display: inline-block;
	background-color: transparent;
	border-radius: 5px;
	width: 100%;

	form {
		float: left;
		width: 100%;
	}

	:global {
		.wil-btn {
			min-width: unset;
			width: 100%;
		}

		.item-group {
			float: unset;
			position: relative;
			overflow: hidden;
			margin: 0  0 20px  0;
			border-radius: 5px;
			border: 1px solid $color-gray-1   ;
			label {
				position: absolute;
				text-transform: uppercase;
				top: 50%;
				transform: translateY(-50%);
				font-size: 12px;
				color: $color-gray-5;
				left: 15px;
				transition: .3s all ease;
				display: inline-block;
				float: left;
			}
			input,
			textarea {
				color: $color-gray-8 !important;
			}
			input {
				padding: 15px 15px 0 15px !important;
				font-size: 13px !important	;
				width: 100% ;
				border: 1px solid transparent !important  ;
				&:focus {
					border: 1px solid transparent !important  ;
				}
			}

			.form-icon {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 15px;
			}

			&.active {
				border: 1px solid $color-primary   ;

				label {
					font-size: 10px;
					color: $color-primary;	
					top: 15px;
					transition: .3s all ease;
				}	
			}
		}
	}




	@include media('>=sm'){
	background-color: $color-light;

		:global {
			.wil-btn {
				min-width: 162px;
				width: unset;
			}
		}
		.action {
			display: inline-block;
			float: left;
		}
	}


	// :global {
	// 	#wil-subscribe.sm {
	// 		width: 100%;
	// 		> div {
	// 			margin:  0 0 20px 0;
	// 			float: none;
	// 		}

	// 		input {
	// 			width: 100% !important
	// 		}

	// 		button {
	// 			width: 100%;
	// 		}
	// 	}
	// }

}

// item
.item {
}

// action
.action {
	// display: initial;
	// float: none;
}

// name
.name {
}

// email
.email {
}

:global {
	.form-icon {
		@include clearfix;
	}
}


// modifier subscribe
.subscribe {
	form {
		margin: -10px;
		width: calc(100% + 20px);
	}
	.action,
	:global(.item-group){
		margin: 10px;
		width: calc(100% - 20px);
		float: inherit;
	}

	.action {
		button {
			width: 100%;
		}
	}

	@include media('>=sm'){
		:global {
			.item-group {
				float: left;
				width: calc(((100% - 22.1311%) / 2) - 30px);
			}


		}

		.action {
			width: 22.1311%;
			float: left;
		}
	}
}

// modifier search wide
.search-wide {
	position: relative;
	padding: 0;

	:global {
		.item-group {
			margin: 0 0 20px 0;
			border: 2px solid $color-gray-9;
			transition: .3s ease all;
			
			&.active {
				border: 2px solid $color-primary;
				transition: .3s ease all;

			}
		}
	}

	input {
		height: 60px !important;

		&:focus {
		}
	}

	button {
		padding: 12px 0 ;
		font-size: 14px;
	}

	i {
		vertical-align: middle;
	}

	@include media('>=xs'){
		width: 100%;

		:global(.item-group) {
			width: 100%;
			margin: 0 !important;

		}

		input {
			width: calc(100% - 160px) !important;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			border-radius: 0px 5px 5px 0;
			padding: 20px  0 19px 0;
		}

	}
}

// modifier feedback
.feedback {
	width: 100% !important;
	border-radius: $general-radius;
	overflow: hidden;

	form {
		margin: -10px;
		width: calc(100%  + 20px);
	}

	textarea {
		border: none;
		padding: 20px 15px;
		&:focus {
			border: none;
		}
	}
	input {
		width: 100% !important;
	}

	:global {
		.item-group {
			margin:  0 20px 0 0 ;
			float: left;

			width: calc(100% - 20px);
			margin: 10px ;

			@include media('>=sm') {
				width: calc((100% / 2) - 20px);
			}

			&:nth-child(3) {
				width: calc(100% - 20px);
				label {
					top: 25px;
				}

				&.active {
					label {
						top: 15px;
					}
				}
			}
		}

		.wil-btn {
			margin: 10px;
			width: calc(100% - 20px);
		}
	}
}