<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: placeholder, multiple, search, selectOption, icon
+long_field({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'textarea'</span></div></div>
//- Args: placeholder, multiple, search, selectOption, icon
+long_field({
	modifier: 'textarea'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'file'</span></div></div>
//- Args: placeholder, multiple, search, selectOption, icon
+long_field({
	modifier: 'file'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'select'</span></div></div>
//- Args: placeholder, multiple, search, selectOption, icon
+long_field({
	modifier: 'select'
})
