<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, iconColor, text
+long_text-box-small-2({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'light'</span></div></div>
//- Args: icon, iconColor, text
+long_text-box-small-2({
	modifier: 'light'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'lg'</span></div></div>
//- Args: icon, iconColor, text
+long_text-box-small-2({
	modifier: 'lg'
})
