-
	var social = [
		{
			url: 'https://www.facebook.com/',
			icon:  'fa fa-facebook',
		},
		{
			url: 'https://twitter.com/',
			icon:  'fa fa-twitter',
		},
		{
			url: 'https://www.pinterest.com/',
			icon:  'fa fa-pinterest'
		},
		{
			url: 'https://www.instagram.com/',
			icon:  'fa fa-instagram',
		},

	]
