//- demo: true
mixin vinhSectitle(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		//- code
		h2(class=css.title)= args.title || 'lorem ipsum dolor'
		div(class=css.desc)= args.desc  || 'lorem picsum dolor sit amte lorem'
		
	include cssmodule
