/* //--- vinhSectitle
--------------------------------------------------------------------------------*/

// module
.module {
	
}

// title
.title {
	margin: 0 0 10px 0	;
	font-size: 26px;
	text-transform: capitalize;
	line-height: 1;
}

// desc
.desc {
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 5px;

}

// modifier style02
.style02 {
	.title {
		font-size: 36px;
		margin-bottom: 5px;
	}
}

// modifier style03
.style03 {
	.title {
		font-size: 34px;
	}

	.desc {
		font-size: 16px;
	}
}
