-
	widget = {

		about: [
			{
				background: 'http://placehold.it/400x400',
				img: 'http://placehold.it/200x200',
				name: 'Wiloke Team',
				meta: 'VietNam  |  Admin Fractal',
				text: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corrupti, quas quod placeat doloremque ullam eum omnis reprehenderit soluta eius.',
				signature: 'http://via.placeholder.com/150x50'
			}
		],

		gallery: [
			{
				img: 'http://placehold.it/400x400'
			},
			{
				img: 'http://placehold.it/400x400'
			},
			{
				img: 'http://placehold.it/400x400'
			},
			{
				img: 'http://placehold.it/400x400'
			},
			{
				img: 'http://placehold.it/400x400'
			},
			{
				img: 'http://placehold.it/400x400'
			}
		],

		listing: [
			{
				title: random(random.title),
				img: `img/listing/${ random(1,70) }.jpg`,
				meta: '<a href="#">July 12, 2016</a>'
			},
			{
				title: random(random.title),
				img: `img/listing/${ random(1,70) }.jpg`,
				meta: '<a href="#">July 12, 2016</a>'
			},
			{
				title: random(random.title),
				img: `img/listing/${ random(1,70) }.jpg`,
				meta: '<a href="#">July 12, 2016</a>'
			},
		],

		post: [
			{
				title: 'title 1',
				img: 'http://placehold.it/400x400',
				meta: '<a href="#">July 12, 2016</a><a href="#">850 Views</a>'
			},
			{
				title: 'title 2',
				img: 'http://placehold.it/400x400',
				meta: '<a href="#">July 12, 2016</a><a href="#">850 Views</a>'
			},
			{
				title: 'title 3',
				img: 'http://placehold.it/400x400',
				meta: '<a href="#">July 12, 2016</a><a href="#">850 Views</a>'
			},
		],

		categories: [
			{
				text: 'travel'
			},
			{
				text: 'photoshop'
			}
		],

		tags: [
			{
				text: 'travel'
			},
			{
				text: 'photoshop'
			}
		],

		subscribe: [
			{
				text: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quis!',
				inputText: 'Name',
				inputEmail: 'Email',
				select: 'Where are you from?',
				button: {
					addClass: 'wil-btn',
					name: 'Get travel tips'
				}
			}
		],

		contact: [
			{
				icon: 'fa fa-phone',
				text: '<span>+84123456789 or +84987654321</span>'
			},
			{
				icon: 'fa fa-marker',
				text: '<span>121 King Street, Melbourne Victoria  3000 Australia</span>'
			},
			{
				icon: 'fa fa-envelope',
				text: '<a href="#">Wiloke@gmail.com</a>'
			}
		],

		social: [
			{
				icon: 'fa fa-facebook'
			},
			{
				icon: 'fa fa-twitter'
			},
			{
				icon: 'fa fa-google-plus'
			},
			{
				icon: 'fa fa-dribbble'
			}
		]
	}
