/* //--- widget
--------------------------------------------------------------------------------*/

:global {
	.widget {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	.widget-title {
		color: $color-light;
	}

}
