/* //--- long_list
--------------------------------------------------------------------------------*/

// module
.module {
	border: 1px solid red;
	padding: 30px;
}

// list
.list {
	border: 1px solid blue;
	padding: 10px;
}

// link
.link {
	color: blue;
}
